[2020-04-30 14:32] bryjbrown opened #1 "Content does not display all relationships"
When viewing content, relationships with other pieces of content are not always displayed. For instance, a project does not display all the content attached to it (eg, an attached dataset), and other pieces of content don't always show their parent projects or content attached to it (eg, a dataset not showing an attached codebook).

[2020-04-30 14:33] bryjbrown commented on #1
The dev team is aware of this issue and will resolve after resolving webforms issues, as those may affect the way content relates to each other.

[2020-04-30 14:34] bryjbrown opened #2 "Difficult to select multiple options in dropdown lists"
Some form elements have very lengthy lists of options in their dropdown lists, and using CTRL to select multiple options isn't very user friendly. It would be nice to have a different type of selection process for this that makes sorting through the options and selecting multiple options more usable.

[2020-04-30 14:52] bryjbrown commented on #2
Dev team is looking into options for this and will provide demos of different options at a later date.

[2020-04-30 15:21] bryjbrown opened #3 "Remove entity IDs from values entered into entity reference autocomplete form elements"
Multiple forms have entity reference elements (autocomplete fields for entering persons, organizations, etc) and by default, Drupal displays the entity ID of values entered into these fields. For example, if referencing an entity named "Bryan Brown" with the entity ID 2, it will display this in the form as "Bryan Brown (2)". This is confusing for users, the entity ID should be hidden from users.

[2020-04-30 15:23] bryjbrown opened #4 "Provide walkthrough for new users on how to use LDbase"
New users of LDbase might need a tutorial of some sorts to help them understand what the system is, how it works, and what next steps they should follow to start making use of it.

[2020-04-30 15:24] bryjbrown commented on #4
We should wait on this issue until the system is more complete, as creating tutorials for processes that may change during development is not a good use of time.

[2020-04-30 15:25] bryjbrown opened #5 "Decide on terminology for "Home" and "My account""
Currently, "Home" on LDbase refers to the front page, and "My account" refers to the user page, but some users may think of "My account" as their user's home, and get confused. To rectify this, we need to come up with specific terminology for the front page and the user page and use it consistently across the site.

[2020-04-30 15:30] bryjbrown commented on #5
From Mason:

[2020-04-30 15:34] bryjbrown opened #6 "Tab order is off for some form elements"
On some of the webforms, the tab order is incorrect and cycles inconsistently through the same element multiple times instead of moving on to the next element. This seems to happen consistently with entity reference elements which require tabbing through the help multiple times.

[2020-04-30 15:38] bryjbrown opened #7 "Lock context in place for long pages & forms"
Sometimes when scrolling through a long page or form, a user might forget what they are editing and/or what project they are working in. Having some sort of reminder at the top of the page to give them their context that locks in place when scrolling would be helpful.

[2020-04-30 15:42] bryjbrown opened #8 "Find more flexible solution for providing dates"
Currently any project that makes use of date form elements, usually in the form of date ranges, has to enter year+month+day, but users might want to enter only year+month or even year only, because they might not always know the day or month that something began on. The form elements should be flexible to account for this.

[2020-04-30 15:51] bryjbrown opened #9 "Sometimes form location subelements do not display prepopulated lists"
Tara reports that sometimes she does not see the prepopulated lists for form location subelements, for example state and city.

Bryan cannot reproduce this issue.

Tara, can you provide more information? For instance:
- What browsers have you tried? (please try in others to see if the issue persists)
- What operating system are you using?
- Does this happen with other countries? (please try other

[2020-04-30 15:59] bryjbrown opened #10 "Provide dataset management form"
Users need a way of managing datasets uploaded to the site. A dataset content type can have multiple dataset files associated with it as different versions of the same dataset. This interface should allow users to:
- Delete a dataset version
- Replace a dataset file in a version
- Create a new dataset version
- Edit dataset version info

[2020-04-30 16:20] bryjbrown opened #11 "Need a strategy for locking down editing of Person and Organization entities"
Currently anyone can edit any content in LDbase, though we are in the process of locking that down for Projects, Datasets, Code and Documents through the use of Project Groups. We need a similar solution for making sure that only the right people should be able to edit Person and Organization entities.

[2020-05-05 14:33] barsenault-fsu commented on #2
Enabled the Choices.js select option and removed the ctrl-click text in https://github.com/ldbase/ldbase_config/commit/83d77540c3e3f0d5696baf899154f74b89e639a0

Will demo it and await confirmation that the psych team accepts this as a fix.

[2020-05-05 14:50] bryjbrown commented on #2
Currently waiting on @Favenzio to implement styling changes as well, once styling is in place and the psych team accepts this as a fix, this issue can be resolved.

[2020-05-11 20:22] barsenault-fsu commented on #11
Changed permissions and route access for Persons and Organizations.  Now only administrators can edit those nodes.  Other users can view them but cannot edit them.
Code: https://github.com/ldbase/ldbase_handlers/commit/cdcbfe47665468e57679b7d80a9ae258727b65b3
Config: https://github.com/ldbase/ldbase_config/commit/37c782aa72b57418fda93394ac84c8b6f914c4e2

[2020-05-11 20:25] barsenault-fsu commented on #3
Added JavaScript code to each webform to strip the entity ID from the display.
Config: https://github.com/ldbase/ldbase_config/commit/024a063c810611e8d8bfa64d2339e52f2b50b5ba

[2020-05-15 15:50] WilhelminavanDijk opened #12 "Visual representation of project structure"
Psych team would like the project home page to have a visual representation of the structure within the project. We think of this as a tree or a subway map or a TOC.

It would have the project, and it's affiliations at each level of affiliation. Ideally, you could click on each item and it would take you to that page. We think this same structure should be visible for other users when going to the

[2020-05-15 15:54] trreynolds opened #13 "The Data Entry Gamification"
While the user is entering their data, we need an easier system of showing them what is happening. (For example: somewhere on the screen is some sort of visual showing them what they will be entering: project details, datasets, codebooks, presentations, DOIs...) and the visual shows them both what they have entered, and what they still need to enter. At one point you had suggested a thermometer fo

[2020-05-15 16:29] trreynolds opened #14 "User Error"
If a user makes a mistake, there is no way for them to fix it.  (What if they add a dataset that they did not mean to upload to Ldbase? What if they add a dataset or a document to the wrong project?)

[2020-05-15 16:36] WilhelminavanDijk commented on #2
Psych team likes the pill fix. It works fine.
We currently don't have an opinion about the styling considering that this may change as we move forward with the design elements.

[2020-05-15 16:39] WilhelminavanDijk commented on #1
This may part of the "visual representation" issue opened on May 15, but worded more technical? Maybe these two issues need to be merged?

[2020-05-15 16:45] trreynolds opened #15 "Sample text: color shade"
Can you make the sample text (that exists in a field before they type something in) one shade darker? It's hard to see. It should NOT be the same dark gray that exists on the rest of the page. So if there is not a lighter gradient option, you can ignore this. Thanks!

[2020-05-15 17:06] trreynolds opened #16 "Date displays"
For the “Project Active From” dates (and maybe other places where we display dates), can you display that as mm/dd/yyyy-mm/dd/yyyy? It currently looks like this:  1937-04-29 - 1936-05-01 (bjb: in addition to changing the display formatting, also if no end date, display something like “ongoing” or “to present”)

[2020-05-15 17:13] bryjbrown commented on #8
The default and current way we are handling this is to make the field store a Year + Month + Day (complete date), but we have found an alternative that would allow us to do a Year or Year + Month (but NOT a Year + Month + Date).

An additional option would be to store the entire date range as a plain text field so that people could enter whatever they wanted in whatever format they wanted, and jus

[2020-05-15 17:14] trreynolds opened #17 "Edit Dataset Webpage: word change"
On the Dataset Edit page, it says, "Dataset Investigators" and it should say "Dataset Contributors"

[2020-05-15 17:31] Favenzio commented on #2
Pills have been styled. Since Psych team is ok with the functionality, I'm closing this issue.

[2020-05-15 17:31] #2 closed, assigned to nobody

[2020-05-15 17:41] barsenault-fsu commented on #17
Hmm I thought I had done that before in https://github.com/ldbase/ldbase_config/commit/5d8747e41452c1de5b0e6cada023ee185fc2c3ef?diff=split but I'll get it in the course of dataset version changes.

[2020-05-15 17:48] trreynolds commented on #1
This issue should include allowing people to see which codebooks are connected to which datasets. (For example, if a project has 10 codebooks and 10 datasets, you need to see which codebook belongs to which dataset. Currently it just lists them as existing for a project, but does not connect them.)

[2020-05-15 19:52] barsenault-fsu commented on #17
I pushed https://github.com/ldbase/ldbase_config/commit/f78a5c425920cbd0d03d10c898ba1698057bbb2d that changes 'investigator' to 'contributor' in the label, description, help text, and add button.

[2020-05-15 20:54] trreynolds commented on #7
I'm responding to the tag "Need clarification from Psy Team":
This is when entering data into LDbase. Surprisingly, it's easy to forget what you are doing (what colleagues am I entering now? What age range am I entering now? What geographical location am I entering again?).  Locking something on the top of the screen showing the dataset/project/codebook  (or having a visual on the left like we tal

[2020-05-20 14:59] bryjbrown commented on #17
These changes are now present on test.ldbase.org, please review and close this issue if the problem has been resolved.

[2020-05-20 15:02] bryjbrown commented on #12
First pass at such a feature:
http://test.ldbase.org/projects/20536912-206c-4c09-866a-43a60726874b/tree

[2020-05-20 15:10] bryjbrown commented on #15
Placeholder text on test.ldbase.org is now one shade darker and easier to read. Please review and close this issue if you are satisfied with the solution, or respond here if you have further related issues.

[2020-05-20 15:11] bryjbrown opened #18 "Issues related to search"
LDbase now has an advanced search page that uses boolean operators, please review and log any feedback you have in this issue.

http://test.ldbase.org/advanced-search

[2020-05-20 15:18] bryjbrown opened #19 "Disallow search engine indexing of test.ldbase.org"
Make sure search engines like Google don't crawl the site so that test data doesn't show up in search results for LDbase.

[2020-05-20 15:18] bryjbrown commented on #19
Resolved with a new robots.txt file: http://test.ldbase.org/robots.txt

[2020-05-20 15:18] #19 closed, assigned to nobody

[2020-05-20 15:55] #15 closed, assigned to nobody

[2020-05-20 15:58] #17 closed, assigned to barsenault-fsu

[2020-05-20 16:39] bryjbrown commented on #6
I figured out what is causing this; any field where there can be multiple values (eg, "Project Investigators" in the Project form allows for one PI per textfield, but has the "Add Project Investigators" button to add more) also has a "container" element around all the potential textfields, and I guess the way they coded this container element messes with the way that browsers tab cycle through ele

[2020-05-20 18:20] #9 closed, assigned to nobody

[2020-05-20 19:43] barsenault-fsu commented on #8
After talking about it, we will change the date fields to composite fields with a month select and a year select, storing numeric data for each.  I'll provide a list here of the affected fields, and the teams can decide if any of them should not be changed.

[2020-05-20 20:20] trreynolds commented on #9
Cities were no longer getting populated after selecting State. In Ldbase biweekly, Psy team leaders said it's ok for users to just type in the values for City.

[2020-05-20 22:25] barsenault-fsu commented on #8
The date fields in the system are below.  I'm guessing the "Access Restriction Expiration Date" should remain as dates to support the embargoes, but that the others can become month/date.

**Project**
-- Project Dates (Date Range)

**Datasets**
-- When was the data in this dataset collected? (Date Range)
-- _Access Restriction Expiration Date_ (Date - Keep?)
-- Publication Date (Date)

**Code**
--

[2020-06-02 18:53] barsenault-fsu commented on #8
Update: Forms have been modified so that date fields, except for the Embargoes' Access restriction Expiration date, are now Month / Year drop-down selections.  The display of the dates still need formatting but the form and data changes are made and could be reviewed.

[2020-06-11 17:41] WilhelminavanDijk commented on #3
Entity ID's are now stripped!

[2020-06-11 17:45] WilhelminavanDijk commented on #8
Ok. Those are working, however, on the overview pages, the months are converted into numbers. Can that be changed to names?

[2020-06-11 17:46] WilhelminavanDijk commented on #12
Trees are so cool. The small tree on the left side is so helpful.

[2020-06-11 18:17] WilhelminavanDijk commented on #18
The advanced Boolean search works well! It's a little weird at first to not have to put in the boolean operator words yourself. We may need some extra language there at some point.

Here are some initial concerns:

1. The search only works for a complete name and not an approximation. For example, searching for Wilhel does not result in finding Wilhelmina. Should it do "fuzzy matching"?

2. The se

[2020-06-12 00:54] trreynolds opened #20 "Search Results - Left Hand Results By Category"
SHart request: make "Participant Age" one of the limiters on the left hand side of a search result. I'd be open to dropping Time Method for AGE instead. And age should go under participant type in the list.

[2020-06-12 18:01] trreynolds opened #21 "Ability for user to add a response that doesn't exist (dropdown lists, pill boxes, etc.)"
Where you can select from a pre-populated list: the user was supposed to be able to add a response (like, they can type in a new value) if their value isn't there.
We said we would monitor these additions on the back end for the first two years or so to decide if it's a valid response or not and whether it should be added permanently to our list. We think after a few years, we probably should have

[2020-06-12 18:05] trreynolds opened #22 "Cite button"
"Cite This" button/hyperlink is needed on every project/dataset/document (or equivalent), right under title

[2020-06-12 18:07] trreynolds opened #23 "Social Media Share"
share on social media buttons need to be available on every project/dataset/document, etc.
When they click to share, can you autofill in “#LDbase”?  Please? :)

[2020-06-12 18:15] trreynolds opened #24 "Download statistics"
Download statistics should be available on every project, dataset, document, code, codebook, etc.

[2020-06-12 18:26] trreynolds opened #25 "Drag and Drop feature"
Lowest priority.  We talked about giving users the ability to 'drag and drop' when uploading their data to LDbase.

[2020-06-12 18:35] trreynolds opened #26 "System Notifications"
Logged-in users can get system messages/notifications, like workshops or you haven’t finished uploading data.  (and we want the function to be able to send an email, like if someone requests their data)

[2020-06-12 18:51] trreynolds opened #27 "Lock symbol"
How will users know when a dataset is locked?
-use a lock icon/symbol to make it clear in search results when data is open or not

[2020-06-12 18:55] trreynolds opened #28 "Add People to your project"
We need a way to add users to a project, dataset, etc.

[2020-06-15 14:12] WilhelminavanDijk commented on #18
Never mind previous #3, Sara does not like that idea.... oops.

Here's comment 4 from Sara:
Is there a way to make the results more organized? She'd like a short view to come up firs, with a button to extend to see full search results. (I think we have a screenshot from some other repo that we will share with you).

[2020-06-17 18:03] bryjbrown commented on #27
@trreynolds What do you mean by "when a dataset is locked"?

[2020-06-17 18:05] trreynolds commented on #27
Locked = not able to be downloaded or viewed by public. AKA you have to ask permission of the owner.

[2020-06-17 18:25] bryjbrown commented on #23
Twitter + Facebook + Email for sharing platforms.

[2020-06-17 18:41] #25 closed, assigned to nobody

[2020-06-30 19:40] rkmase opened #29 "Search bar needs a Submit button"
Preferably a magnifying glass, set outside of the search box

[2020-06-30 19:45] rkmase opened #30 "Change all instances of "username" to "email address""
Users login with email, so label all fields accordingly

[2020-06-30 19:48] rkmase opened #31 "Remove "steps" from account creation"
Currently skips from step 1 to step 3 - just remove altogether

[2020-06-30 19:50] rkmase opened #32 "Validate email address when creating new account"
When creating new account, system should check whether email address exists

[2020-07-01 14:07] rkmase opened #33 "Link to "advanced search" needed below (or near) search box"
Need to give user option to access an advanced search wherever there is a "simple" search

[2020-07-01 16:16] barsenault-fsu commented on #3
Entity IDs are stripped so I'm closing this issue.  Looks like it was inadvertently linked to issue 18 by a github autocomplete (If you type an octothorpe then you can link to other issue numbers).

[2020-07-01 16:16] #3 closed, assigned to nobody

[2020-07-01 16:25] barsenault-fsu commented on #10
The dataset displays the latest version of the dataset file.  When editing a dataset, uploading a new file will automatically create a new version.  If the user makes changes to other fields but not the file itself, then that will automatically edit the latest version.

There is a link to View All Dataset Versions.  From that view, users can edit any version.  They cannot change the file when edit

[2020-07-01 16:28] barsenault-fsu commented on #21
I see 3 prepopulated lists with an "Other" option: Project Descriptors, Assessment Names, and Data Collection Locations.  I have added an "Other" text field which appears when the user selects the "Other" option in those lists.

Are there any other lists that require an "other" option?

[2020-07-06 13:58] rkmase opened #34 "Autocomplete dropdowns should close after selecting an option"
When using an autocomplete field (example: Project Descriptors), after typing and selecting an option from the drop-down, the drop-down should disappear to allow access to next field, etc. Right now the user has to "click-away" in order to remove the drop-down. On mobile (in this example) the drop-down blocks the remaining fields and the Submit button.

[2020-07-13 19:26] barsenault-fsu commented on #34
I pushed a change that should close those drop-downs each time an option is selected, which should appear on the test site once it is refreshed.

[2020-07-27 21:10] trreynolds opened #35 "When I click on a url link (in a project), please open site in another tab (so user does not exit ldbase)."
I was on my personal project page when this happened.

[2020-07-27 21:20] trreynolds opened #36 "Typing in "other" project descriptors (pillbox selection items)"
Step: Create Project.  On the pillbox items, I can type text into that field , and it looks like it accepts my text, but it doesn't. And it says that everything was successfully saved. Is that ok?
Walk through:  go down to "Educational Curricula" and click on that box. Type in a word. Click save, and it saves it. But the words I typed were not saved (because our process is to select "other" and th

[2020-07-28 12:31] trreynolds opened #37 "Person: profile picture uploads, but isn't visible"

[2020-07-28 15:56] trreynolds opened #38 "Unable to add code to a project"
Schots: "Some code (like data management code or scoring code) could be particular to a dataset.  Other code (like analysis code) could be particular to a project or a paper."  (I'm pasting this comment here, simply so I can remember the LDbase requirements as I continue to test.)

[2020-07-28 16:34] trreynolds opened #39 "Seeing people's projects, documents, datasets, etc."
If I click on a person, I do not see the data that is connected to them.

[2020-07-28 21:12] trreynolds opened #40 "Creating a "New User" Account (Person)"
I don't see where I can add the fields that Sara mentioned in her document: other personal info, google scholar, orcid, social media, github, key search terms for investigators, etc.

[2020-08-10 16:35] barsenault-fsu commented on #8
The months appear as month names rather than numbers now.  We looked at these in one of the update meetings so I'm going to close this issue.

[2020-08-10 16:35] #8 closed, assigned to nobody

[2020-08-10 16:45] barsenault-fsu commented on #10
From the Dataset, all users can see the latest dataset version and can get to the All Dataset View.

Project group administrators and editors can also:
- Create a new dataset versoin by uploading a new dataset file
- Edit and delete dataset versions from the All Datasets View

We reviewed this in an update meeting, so I will close the issue.

[2020-08-10 16:45] #10 closed, assigned to nobody

[2020-08-10 16:48] barsenault-fsu commented on #14
Users with the Project Administrator role (the user that created the project in LDbase and any users that the project owner gives the Project Administrator role) will be able to delete LDbase content.

This will be reviewed in the 8/12 update meeting.  It's not on test yet.

[2020-08-10 16:52] barsenault-fsu commented on #16
The date is now formatted "Month Year to Month Year" and if there is no end date it reads "Month Year to present" instead.

[2020-08-10 16:52] #16 closed, assigned to nobody

[2020-08-10 16:57] barsenault-fsu commented on #21
I have added the "Other" option to all of the pill box type select lists.

Still need a view or views of the terms that people add so that an administrator can review them to see if they should be added as selections.

[2020-08-10 16:59] barsenault-fsu commented on #34
Autocomplete dropdowns now close after selecting an option

[2020-08-10 16:59] #34 closed, assigned to nobody

[2020-08-10 17:09] barsenault-fsu commented on #28
Project Administrators can manage project users now.  Under the project tasks menu is a link to Manage Users.  From there the administrator can add users to the project, edit their roles (Administrator or Editor), and remove users from the project.

[2020-08-10 18:43] barsenault-fsu commented on #36
Since those fields are multi-select fields, and the typed-in text is not a selection, the extra text doesn't get saved.  I have tried to clear the text when the user leaves the box, but doing that breaks the dropdown selection list.

Could we, as an alternative, add some text like "Please select items from the list" similar to the "Please enter ..." and "Please include ..." text for other fields o

[2020-08-10 20:29] barsenault-fsu commented on #38
Users will be able to add code to a project.  This is not on test yet but should be ready to review at the 8/12 update meting.

[2020-09-02 15:01] bryjbrown commented on #35
This is a very controversial topic in user experience / usability / accessibility world, and the general consensus is that this SHOULD NOT happen for the following reasons:

1. Going to the new URL in the same tab is the default behavior of a web browser, and opening in a new tab is straying from that behavior. Websites should never do anything that surprises or confuses users' expectations.
2. Us

[2020-09-02 15:05] bryjbrown commented on #35
Whoops, it appears mason IS on GitHub @rkmase

[2020-09-02 15:07] rkmase commented on #35
Yup, I agree with Bryan on this one. You let the user choose to open in a new tab, if they'd like (with the menu, or CTRL click), but you should never make that choice for them.

[2020-09-02 15:17] bryjbrown commented on #24
This has been implemented, updated on test.ldbase.org, demonstrated during a meeting and had feedback applied (change block from "Resource Usage" to "Usage Metrics").

[2020-09-02 15:22] bryjbrown commented on #11
@barsenault-fsu I think we need additional functionality for allowing a user account for a person who is represented by an LDbase Person node to be able to edit that node as well. I think there's some sort of user account / LDbase person omniform that does both at once, is this correct?

[2020-09-02 15:25] bryjbrown commented on #7
I believe that the answer to this that we settled on was having the breadcrumbs, which show the current object and the path to it (its context within a project) locked to the top of the screen so that they are always there. For a time we had the Project Navigation Tree View block on the side of forms, but it was decided by the dev team that this took up too much space on an already cramped form so

[2020-09-02 15:28] bryjbrown commented on #22
A "Get APA Citation" button has been added to all citable content types that renders an APA citation in a pop-up.

[2020-09-02 16:44] barsenault-fsu commented on #11
@bryjbrown When an LDbase user edits their profile (My Account > Edit your profile) they are editing the LDbase Person node associated with their account and may also change their password, which is part of their account.

[2020-09-03 00:15] bryjbrown commented on #23
Added social media block with integrations to Twitter, Facebook, Reddit and Email. Will discuss the default text for these integrations at 9/8 meeting.

[2020-09-03 14:13] bryjbrown commented on #1
9/3 audit notes: This is an old issue that is probably mostly resolved, but @Favenzio will do an audit of the current site displays to verify that all relationships are present, and implement any relationship displays that are missing at which point we'll set the status to "Needs Review" so they Psych team can give it a look.

[2020-09-03 14:16] bryjbrown commented on #4
9/3 audit notes: this is still a "last thing we do before going public" task because any changes we make to the system will need to be reflected in this, so having the system be in a more finalized state is better.

@Favenzio mentioned that doing videos or even screenshots are user friendly, but very time consuming to produce and can quickly become outdated as the site changes. A better solution m

[2020-09-03 14:17] bryjbrown commented on #5
9/3 audit notes: "Home" is homepage, the front page of the site, and "My Dashboard" will be the user's home page where they can see their own content, profile, etc.

[2020-09-03 14:52] #11 closed, assigned to barsenault-fsu

[2020-09-03 14:54] bryjbrown commented on #13
Cross-referencing with https://github.com/ldbase/ldbase_issues/issues/4 as they seem related. Having the walkthrough existing somewhere would go a long way towards the goal this issue is trying to accomplish.

[2020-09-03 15:01] bryjbrown commented on #14
9/3 audit note: @barsenault-fsu has added "Delete Content" tasks on all LDbase content. Between the ability to edit and the ability to delete content, that should take care of any user error.

[2020-09-03 15:03] Favenzio commented on #13
Similar to Issue #4, it makes sense for us to add signs and guideposts when we have a better understanding of the problems users may be encountering. Once Mason starts testing and we have more data regarding usability issues, we can use the techniques described in the original issue to enhance the user experience.

[2020-09-03 15:30] Favenzio commented on #37
Picture shows now. Leaving the ticket open because we need to ensure that image upload resizes the file to a standard size.

[2020-09-03 16:21] barsenault-fsu commented on #36
This issue is related to #21.  The pillbox selection items will now allow users to add new items.  New items will automatically be added to the selection list.

Work that still needs to be done on this item:

- add a "Needs Review" field to affected taxonomies
- trigger email to system administrators when new terms are added
- create administrative interface to review (accept, edit, repoint?, and

[2020-09-03 16:23] barsenault-fsu commented on #21
This is related to #36.  If the solution of automatically adding new term to taxonomies is acceptable, then these "Other" fields might be removed.

[2020-09-03 16:30] barsenault-fsu commented on #28
People can be added to projects now by Project Administrators using the Manage Members link in the Project Tasks menu, which is visible when viewing a Project.  Those added people (users) become members of the project and can be given the Project Administrator role or the Project Editor role.  Both roles can edit content related to the project (datasets, code, etc.).  Project Administrators can ad

[2020-09-03 16:31] barsenault-fsu commented on #38
Users can add code to a project using the Add Code link in the Project Tasks menu, which is visible on the Project view.

[2020-09-07 19:11] bryjbrown commented on #20
I've set up individual facet blocks for minimum age and maximum age, both are range sliders that allow you to select a lower and upper bound for narrowing search results. This is the most usable way that I could think to do it, as this is actually a lot more complicated than it seems.

[2020-09-07 19:37] bryjbrown commented on #18
1: Autocomplete and stemming (eg, a search for "contains" will match "containing", or "Mexican" will match "Mexico") have been added, but true "fuzzy search" ([n-gram](https://en.wikipedia.org/wiki/N-gram) search) is too much for our site to do as-is and would require setting up an external search server (Solr) to do. This would make LDbase more expensive to run and complicate the deployment proce

[2020-09-08 14:55] trreynolds commented on #35
Great advice. Thank you! Issue closed.

[2020-09-08 14:55] #35 closed, assigned to bryjbrown

[2020-09-08 18:52] WilhelminavanDijk commented on #40
I see the fields Tara mentioned above.

One of them is not working: the add area of expertise. I can only do type in the box, but am not getting additional boxes. When typing in it and trying to submit, I get an error message and the page doesn't save. Without typing in that box, it does save.

[2020-09-08 18:54] WilhelminavanDijk commented on #22
Please change the name of the box from "get APA citation" to "get suggested citation".

(because it's not *exactly* APA, and people will be upset when they think it's correct and then need to change stuff)

[2020-09-08 18:58] WilhelminavanDijk commented on #28
This worked! I added Brian as an admin to my projects 💯

[2020-09-08 19:01] WilhelminavanDijk opened #41 "Add Mplus files to allowed code"
Please ensure Mplus files can be added to code .inp and .out

[2020-09-08 19:05] WilhelminavanDijk opened #42 "Automatic download"
When clicking on actually uploaded "data" (code, document, dataset), it will automatically download. Do we want this, or do we want there to be a download button/pop-up message?

I'm saying this because when clicking on other links on the pages, it takes you to displays of everything that has that particular content, and here it starts downloading. People might end up with data on their device tha

[2020-09-08 19:09] WilhelminavanDijk commented on #37
I added a pretty "big" pic of myself: on the "my dashboard" page it is huge, but on the 'person' page it is a reasonable size.
Take a look and see if that helps you :)

[2020-09-08 19:10] WilhelminavanDijk opened #43 "Dates (revisited)"
When adding dates for a project, I can make the end date earlier than the start date. That should probs not happen?

[2020-09-08 20:17] bryjbrown commented on #42
@WilhelminavanDijk I think making the link more clear that it will initiate a download would be good. Turning it into a button that says something like "Download abcd.pdf (PDF, 13KB)" is a common practice.

[2020-09-08 20:18] bryjbrown commented on #43
I think @barsenault-fsu at some point did some validation for that, but it might have been for a different form.

[2020-09-08 20:21] barsenault-fsu commented on #43
@WilhelminavanDijk Do you remember what you entered?  It might help me figure out what's going on with the validation.

[2020-09-08 21:38] barsenault-fsu commented on #40
Regarding the area of expertise field, it looks like there was a Webform issue with entity autocomplete fields (https://www.drupal.org/project/webform/issues/3155914) but the fix is included in webform 8.x-5.20-beta1  The webform updates come pretty regularly so this should be rolled out soon.  Will keep an eye on it.

[2020-09-09 12:05] WilhelminavanDijk commented on #43
Oh, I know what happened! I thought you would get an error when putting it in, but the message actually pops up when you try to submit.

My bad :) I'm impatient and just fixed it before submitting, haha. I will close this issue right away!

[2020-09-09 12:05] #43 closed, assigned to barsenault-fsu

[2020-09-09 14:47] #24 closed, assigned to bryjbrown

[2020-09-09 16:36] trreynolds commented on #38
That's perfect. Thanks. I think we still need to be able to better explain to the user what this code is that they are adding (aka, You are adding Code to the **Project Level** (code for entire project, or analyses code of whatever), not code that is specific to dataset management... as that code should be added in a different spot..) Would that perhaps be done via text on the screen or during the

[2020-09-09 16:38] trreynolds commented on #40
Google Scholar ID field is missing.

[2020-09-09 16:40] trreynolds commented on #36
Your new method is awesome! As far as I'm concerned, you can close this.

[2020-09-09 16:45] trreynolds commented on #28
Thanks, that works! As discussed earlier, the person added to a project should get a notification about being added.

[2020-09-09 16:51] trreynolds commented on #5
We love "Home" and "My Dashboard". Thanks!

[2020-09-09 16:51] #5 closed, assigned to Favenzio, barsenault-fsu

[2020-09-09 16:56] trreynolds commented on #23
Looked good! Feel free to close if you're done.

[2020-09-09 17:09] trreynolds opened #44 "Project Level labels"
When you are viewing a Project, the "Schooling" label should be "Educational Environment"
"Curricula" should be "Educational Curricula"
"Time Method" should be "Developmental Design"

[2020-09-09 17:14] barsenault-fsu commented on #21
Switching and customizing the Select2 library on the webform allows us to remove the "Other" fields. Any further developments can be tracked in issue #36

Closing this issue.

[2020-09-09 17:14] #21 closed, assigned to barsenault-fsu

[2020-09-09 17:53] barsenault-fsu commented on #41
When the test server is updated, uploading Code files should now allow the following extensions:  rmd, do, inp, r, sas, txt, sps, py, m, out

Are there any other extensions that should be allowed?

[2020-09-10 20:46] bryjbrown commented on #41
@barsenault-fsu For future reference, when we add any new allowed extensions, we also need to add them to the Matomo config so that they can be tracked. See https://github.com/ldbase/ldbase_config/commit/e0648dd0bd3848d02d5b9b2c2307b801225effd0

[2020-09-16 15:15] ashleyaedwards opened #45 "license type options"
The only license type option for datasets should be Open Data Commons Attribution License (ODC-By). For all other documents the options should only be the creative commons license types, there are many others that we do not explain in the documentation, these should be removed.

[2020-09-21 20:45] barsenault-fsu commented on #38
Agreed, further explanation may be handled in #13.  Closing this issue.

[2020-09-21 20:45] #38 closed, assigned to barsenault-fsu

[2020-09-22 18:36] Favenzio commented on #20
@bryjbrown during testing we found an issue where participant range does not appear to update correctly based on the data from the results. For example, there was a dataset with participant ages 45 - 55, but the filters only allowed filtering between 4 and 7.

[2020-09-23 12:17] WilhelminavanDijk commented on #20
A different issue, but related to search by categories:

The filters on the search are not quite intuitive. Right now, each filter appears at the bottom of each category. It wasn't clear to me at first that that was what was happening. If you select multiple filters, for example, each filter stays under their own category.
Would it be possible for the filter to show up as pill boxes above the sear

[2020-09-23 16:35] ashleyaedwards commented on #45
In our psych meeting today we decided we would like there to be an option for "None" , an option for "ODC-By" and an option for "Other" that has a required text field entry. And unlike the other fields, new entries should not be added to the list (i.e., people should only see the option of none, odc-by, and other.

[2020-09-23 17:02] trreynolds opened #46 "When Search Results return nothing"
Can there be some kind of a message like 'No results found' (or whatever is standard)?
If nothing is returned from a search, it just kind of repeats the search screen, and you're left feeling like you're not sure if the search worked or not.

[2020-09-23 18:14] trreynolds opened #47 "Search Results: include project name"
I know you are working on a slimmed down version of returning information (per project) in the search results. Can you add "Project Title" to that?
Reasoning: a lot of datasets might be named "final" or a poster might be named "Graduate Talk".  In search results, that might not make a whole lot of sense. But if it showed that it belonged to the "Core Knowledge in Language Arts" project, it might m

[2020-09-24 00:44] WilhelminavanDijk opened #48 "Add Field "Unique" to dataset"
A while ago we had discussed to have a field in the dataset form where users would indicate if the data set was unique, or a combination/slight deviation from already existing data.

We just noticed we don't have this yet, and this seems like a data-structure problem!

[2020-09-24 00:47] WilhelminavanDijk opened #49 "Changes to Text on Forms"
I'm going to make this issue a single one for all the changes, but will upload doc files for each form separate.

I set it up to go through the forms from top to bottom, with the taxonomy name for the field (highlighted in grey), and then rows for the field name, help text, and examples. In a second column I indicated the actions that need to be taken for each row. E.g., No Change, Change text, mo

[2020-09-24 00:48] WilhelminavanDijk commented on #49
Here is the first file, for the "add/edit project" form

[Change_Project.docx](https://github.com/ldbase/ldbase_issues/files/5272780/Change_Project.docx)

[2020-09-24 13:14] bryjbrown opened #50 "Improve search facet interface"
From @WilhelminavanDijk in https://github.com/ldbase/ldbase_issues/issues/20:

"The filters on the search are not quite intuitive. Right now, each filter appears at the bottom of each category. It wasn't clear to me at first that that was what was happening. If you select multiple filters, for example, each filter stays under their own category.
Would it be possible for the filter to show up as pi

[2020-09-24 13:16] bryjbrown commented on #20
@WilhelminavanDijk I have copied you last commend (https://github.com/ldbase/ldbase_issues/issues/20#issuecomment-697325605) to https://github.com/ldbase/ldbase_issues/issues/50 since it is a separate issue.

[2020-09-24 13:18] bryjbrown commented on #44
@trreynolds Do you mean ONLY for the display of the project, or should this be the case for the webform as well? Having it be one thing in the webform but a different thing in the display might confuse users.

[2020-09-24 13:20] bryjbrown commented on #45
@ashleyaedwards That covers datasets and documents, what about code?

[2020-09-24 13:23] bryjbrown commented on #46
This is an easy fix, it'll be ready for the next meeting.

[2020-09-24 13:26] trreynolds commented on #44
What is a webform and what is a display? Thanks :)

[2020-09-24 13:29] ashleyaedwards commented on #45
@bryjbrown Can code also be covered by creative commons?

[2020-09-24 13:55] bryjbrown commented on #47
@trreynolds Just to clarify, do you mean that a Dataset/Code/Document returned in a search should show the title of the parent project it belongs to? Something like:

**Project TEENS Reading Comprehension Dataset**
Project: Project Teens
Authors: Tara Reynolds
Description: A dataset full of reading comprehension test scores

[2020-09-24 13:59] bryjbrown commented on #48
@WilhelminavanDijk Can do, we just need a bit of input on the exact wording for the field label, info or help text and options, for instance:

Label: Unique or Derived?
Help: Is this dataset unique, or was it derived from another dataset?
Options: Unique, Derived

if "Derived":
Label: Derivation Source
Help: The source dataset(s) that this dataset was derived from
(repeatable URL fields)

[2020-09-24 14:04] bryjbrown commented on #48
Assigning this to @barsenault-fsu because he'll be adding this to the form and webform handlers, but also tagging myself and @Favenzio because these data model changes will need to be reflected in the search and display too.

[2020-09-24 14:29] trreynolds commented on #47
Yes, exactly. Thanks! For a child, show the parent's projects title.

[2020-09-24 17:24] WilhelminavanDijk commented on #48
I will add these field to the doc I'm creating for the changes to text in dataset form. (coming in an hour or so!)

[2020-09-24 18:24] barsenault-fsu commented on #36
Now there is a notification message, and an interface that allows admins to edit, delete, and uncheck that user-added taxonomy terms need review.  At some point they may need an interface for merging terms.  That can be a new issue.  Closing this one.

[2020-09-24 18:24] #36 closed, assigned to barsenault-fsu

[2020-09-24 18:27] barsenault-fsu commented on #28
Users will now receive a notification message that they have been added to a project.

[2020-09-24 18:37] trreynolds opened #51 "Example text (the grayed out words) for "Add Codebook" task"
Ashley was asking if the "sample text" (that appears where people will type in their metadata) could display different language for the Codebook form. (It currently shows the normal "add document" language like, Document Title="SRCD Poster 2019".)  Is it possible to have different language for the "Add Codebook" task?
Reminder to myself for future conversation on this.. Ashley wants to push them t

[2020-09-24 18:43] barsenault-fsu commented on #44
@trreynolds the webforms are the edit forms, like when you click "Edit this Project" and get all the fields.  The displays are the views of the saved data without the fields to edit them, like when you click on a Project link in the Project Navigation block.  So when you say "viewing a Project" it could mean only the display rather than both the form and the display.

[2020-09-24 18:48] trreynolds commented on #44
I agree. They (Edit or View screen) should be the same. It looks to me like they are different, so I am trying to get the two to match up. The terms above are what should be used.

[2020-09-24 19:03] barsenault-fsu commented on #44
Okay, thank you.  It looks like the webform has the correct labels and the labels need to change in the Project display to match, so I'm going to tag @Favenzio on this.

[2020-09-24 19:05] WilhelminavanDijk opened #52 "Double boxes when reduce screen width"
Hi all,

I was using split screen with LDbase test site and noticed that it makes some of the field names appear double.
Attaching a screen shot here.
![Screen Shot 2020-09-23 at 8 20 15 PM](https://user-images.githubusercontent.com/64925394/94188467-6d81ae00-fe77-11ea-81ed-9ec65e6bbc74.png)

[2020-09-24 19:10] trreynolds commented on #14
In summary: Project Admins can delete content. Thank you! I'll close this.

[2020-09-24 19:10] #14 closed, assigned to barsenault-fsu

[2020-09-24 20:47] bryjbrown commented on #45
@ashleyaedwards I'm sure it could be, the question is just whether thats the best fit for it. We can make the options for code whatever you all want, we just need to be told what it should be. Can you confirm with the rest of the psych team that you want Code to have the same CC license options that the documents have? And if not, what would you like instead?

[2020-09-24 21:12] ashleyaedwards commented on #45
CC for code and documents are good. Same "other" option that allows people to type in their own but that does not get added to the list

[2020-09-25 14:34] #28 closed, assigned to barsenault-fsu

[2020-09-25 16:01] barsenault-fsu commented on #49
@WilhelminavanDijk what does "Move text to descriptor spot" mean?

In the Change_Project document, for "Description - Help Text" you put "move text to descriptor spot" and then "change descriptor to: ..." so I read that as change the descriptor text to the given text, make the description text always visible (not under question mark), and there will be no help tooltip.

But in the same document fo

[2020-09-25 16:05] barsenault-fsu commented on #51
Yes, the Codebook form can have different placeholder text in the fields.  It's a separate form from the Document form, so that's an easy change once you give us the text you want to appear.

[2020-09-25 16:49] WilhelminavanDijk commented on #51
We are working on this!

[2020-09-25 16:56] WilhelminavanDijk commented on #49
Yes! We want most of the text that is now under the question mark to be changed to always visible. and that is what i meant with move to descriptor spot. I can change this language in my next form ;) I can make an extra row for descriptor, for example.

We think that in many cases we're asking users to input pretty specific things, but we're not sure if people will actually hover and read, and the

[2020-09-25 16:57] WilhelminavanDijk commented on #41
Not that we can think of right now!

[2020-09-25 17:23] barsenault-fsu commented on #49
Yes if you have a row each for Help Text and Descriptor Text, that would be easy to read.  Help text will appear in the hover tooltip and Descriptor Text will appear above the form field.  If you don't provide Help Text for a field, then a tooltip question mark icon will not appear for that field.

So I will ignore the "Move text to descriptor spot" and just put the DESCRIPTOR and HELP text that y

[2020-09-25 17:25] barsenault-fsu commented on #41
Thank you.  Closing issue.

[2020-09-25 17:25] #41 closed, assigned to barsenault-fsu

[2020-09-25 19:08] barsenault-fsu commented on #49
In the Change_Project document, for the fields
- Project Descriptor(s)
- Educational Environment
- Educational Curricula
- Developmental Design

you asked for the Example Text to "Prepopulate the first term".  If we do that, then the user will have to manually clear that term in each field or it will get saved as part of their entry.

Might I suggest that we have gray placeholder text that reads "

[2020-09-26 00:10] WilhelminavanDijk commented on #49
That seems fine, as long as there is something? Right now those are just blank :).

[2020-09-28 14:43] WilhelminavanDijk commented on #49
[Change_DataSet.docx](https://github.com/ldbase/ldbase_issues/files/5293060/Change_DataSet.docx)

Here is the docu for the Data-set form :)

[2020-09-28 18:31] trreynolds commented on #51
@WilhelminavanDijk, just to clarify, Ashley meant the grayed-out sample text that is in the background (what you will type on top of).. for the Codebook. She wants Codebook (rather than Document) language there and it could say this:

CODEBOOK NAME:  For example: Codebook for the Wave 2 Vocabulary Knowledge Grant dataset
CODEBOOK AUTHOR:  For example: Dr. Sally Shares
CODEBOOK DESCRIPTION:  For ex

[2020-09-28 19:01] WilhelminavanDijk commented on #51
Yes, all language for this is coming this wednesday after the psych meeting

[2020-09-29 17:26] barsenault-fsu commented on #45
I'm almost done with this, but before sending it to Test I'd like to confirm the options for licenses.  Let me know if you want any changes.

**Dataset**
- None
- Open Data Commons Attribution License (ODC-By)
- Other
  -  Enter Other ... (text field)

**Code and Document**
- None
- CC BY (Attribution)
- CC BY-NC (Attribution-Non-Commercial)
- CC BY-NC-ND (Attribution-NonCommercial-ShareAlike-NoDe

[2020-09-29 19:20] ashleyaedwards commented on #45
looks good
________________________________
From: Brian Arsenault <notifications@github.com>
Sent: Tuesday, September 29, 2020 1:26 PM
To: ldbase/ldbase_issues <ldbase_issues@noreply.github.com>
Cc: Ashley Edwards <aedwards@psy.fsu.edu>; Mention <mention@noreply.github.com>
Subject: Re: [ldbase/ldbase_issues] license type options (#45)

I'm almost done with this, but before sending it to Test I'd

[2020-09-30 18:21] WilhelminavanDijk commented on #49
[Change_Code.docx](https://github.com/ldbase/ldbase_issues/files/5307503/Change_Code.docx)
[Change_Codebook.docx](https://github.com/ldbase/ldbase_issues/files/5307504/Change_Codebook.docx)
[Change_Document.docx](https://github.com/ldbase/ldbase_issues/files/5307505/Change_Document.docx)

Here are the code, codebook, and document text changes!

[2020-09-30 18:24] WilhelminavanDijk opened #53 "Add options to Document Types"
For the Document Types field, we would like to add options:

Assessment materials
Application
Experiment files
Lab Procedures
Other

we do not need a open box for other

[2020-09-30 21:11] barsenault-fsu commented on #49
@Favenzio There are some label changes in the Dataset form that will need changing in the Dataset view.  They are listed here as "old label" -> "becomes this label":

1. Dataset Contributors -> Dataset Contributor(s)
2. When was the data in this dataset collected? -> When were the data in this dataset collected?
3. Data Collection Locations -> Data Collection Location(s)
4. Assessment Name -> Asse

[2020-09-30 21:20] barsenault-fsu commented on #48
For reference, the dataset content type now has
1. field_data_unique_or_derived  [List(text)]
2. field_derivation_source [Link] (unlimited)

I committed the additional fields (They are not on test yet.  I'll try to remember to tag this issue as Needs Review when that happens.)

[2020-10-01 21:00] barsenault-fsu commented on #53
I have added the new items to the taxonomy for Document Types.  Once this is moved to Test, then I will label this issue as Needs Review.

[2020-10-01 21:02] barsenault-fsu commented on #51
Since the text for this change came in the Change_Codebook document in issue #49 I'm going to close this.

[2020-10-01 21:02] #51 closed, assigned to barsenault-fsu

[2020-10-01 21:04] barsenault-fsu commented on #49
I have made changes to the Project, Dataset, Code, Codebook, and Document forms (and view labels when needed).

When Test is updated, I will label this issue as Needs Review.

[2020-10-01 21:25] barsenault-fsu commented on #6
I might have found what's causing the extra elements that are catching the tab navigation on multiple entry fields like the Project Investigator(s) .  It's the Help icon.  There's a label and help icon for each form element.  If the screen is wide enough, you can't see them, but if you narrow the screen they appear for each.

When I changed the text for many fields which removed the Help text (Iss

[2020-10-06 16:10] barsenault-fsu commented on #45
@Favenzio I used a different element to handle the license changes and now there is a border around the form field label on the forms for Dataset, Code, Document, and Codebook.  Can you please take a look at the CSS for this?

[2020-10-09 15:47] barsenault-fsu commented on #40
Google Scholar ID added to Person profile form.  Will update with "Needs Review" label when pushed to Test.

[2020-10-09 20:42] barsenault-fsu commented on #30
I used ldbase_content_form_alter() to change the field title and descriptions on the user login form:
Username is now Email Address, and the field description (which only appears on user/login) reads, "Enter your LDbase account email address."
The password field description (which only appears on user/login) reads, "Enter the password that accompanies your LDbase account."

I'll label this issue "

[2020-10-13 15:21] WilhelminavanDijk commented on #48
This is working great! I think issue can be closed :)

[2020-10-13 15:31] WilhelminavanDijk commented on #53
Looking good!

[2020-10-13 15:34] WilhelminavanDijk commented on #45
The options seem to have been implemented correctly! Do we want a link to explanation of the license options for document? (this may be issue 49 instead and could be included in the hidden help text)

[2020-10-13 15:39] WilhelminavanDijk commented on #1
I think this has been solved.

[2020-10-13 15:44] WilhelminavanDijk commented on #6
we definitely don't want to change the help text! @trreynolds how much of a problem do you think the tab order is?
I think most researchers don't use it much.

[2020-10-13 16:52] WilhelminavanDijk commented on #49
This looks good so far. I want to keep this issue open, because we may have text changes for the person page and possibly search page when they are finalized.

[2020-10-14 20:12] #1 closed, assigned to Favenzio

[2020-10-15 15:09] #48 closed, assigned to Favenzio, bryjbrown, barsenault-fsu

[2020-10-15 19:08] #53 closed, assigned to barsenault-fsu

[2020-10-15 22:08] Favenzio commented on #29
A submit button has been added to the search bar.

[2020-10-15 22:10] Favenzio commented on #33
Advanced search has been added in results page.

[2020-10-15 22:12] Favenzio commented on #39
People's contributions are now visible when you click on their name.

[2020-10-16 15:04] barsenault-fsu commented on #40
Google Scholar ID field is not on the Profile form and ready for review.

[2020-10-16 15:06] barsenault-fsu commented on #30
On Test and ready for review.

[2020-10-20 14:07] rkmase commented on #33
Needs to also be added under the main search box in the header. Currently if a user wants to do an advanced search, they're forced to do a simple search first, and then "turn it into" an advanced search

[2020-10-20 14:43] rkmase commented on #30
password reset page field needs to be changed to just "Email address"  http://test.ldbase.org/user/password

[2020-10-20 14:45] #29 closed, assigned to Favenzio

[2020-10-20 15:13] barsenault-fsu commented on #30
Just pushed the password reset form change.  Once Test is updated it should just read, "Email Address"

[2020-10-20 15:46] WilhelminavanDijk opened #54 "Re-ordering fields on webforms"
We would like to re-order the fields on the various webforms.

See attached doc! (the columns show old order and new order, to be consistent across forms and be more thematically grouped).
[ReorderingForms.docx](https://github.com/ldbase/ldbase_issues/files/5409843/ReorderingForms.docx)

[2020-10-20 16:54] bryjbrown commented on #46
Improvement is in place on test.ldbase.org, just search for a term that has no matches and see "No results found." in the results area.

[2020-10-20 17:12] rkmase commented on #46
We should also consider alternate options when no results are present. (did you mean? subject suggestions based on search, etc) I'm not sure how feasible that is due to the backend and the subject matter, but its worth discussion post-launch. Users should always be given an option.

[2020-10-20 17:48] rkmase commented on #30
On profile edit - original email address needs to be locked, or a note needs to be added that says adding emails won't change their login

[2020-10-20 18:10] #12 closed, assigned to bryjbrown

[2020-10-21 16:24] barsenault-fsu commented on #54
I changed the field order on the forms.  When this gets pushed to Test I'll add the Needs Review label.

One question: on the Dataset form, there is a Variable Types field that used to be after the Special Populations field.  It's not listed on the changes document, so I moved it to keep it after the Special Populations field.  Is that where you want it?

[2020-10-21 19:48] WilhelminavanDijk commented on #54
Let's put it after assessments, that would make more sense thematically!

[2020-10-29 16:06] trreynolds opened #55 "Required metadata"
We removed the "this field is required" flag a few months ago when some fields weren't working (just so we could get past it and enter data). Please make these fields "required" again:
PROJECT LEVEL:  Project Description (text field), Project Investigator(s), Project Descriptors (the pillboxes).
DATASET LEVEL: Description, Contributors
CODE LEVEL:  Title, Code Contributors, Code Type, Description

[2020-11-03 16:51] trreynolds opened #56 "Change "Code Type" from single selection to allow multiple selections"
Can we request that "Code Type" (Analyses, Data Management, etc) allow for people to select multiple options rather than one option?

[2020-11-03 16:57] trreynolds opened #57 "Uploading code or linking to an external link"
On the Code form...
I feel like we are asking an either/or:  are you uploading code, or do you  have a link to your code that is at an external location?
But I was able to do both (I uploaded code AND said an external location).  Is this ok?  If so, it needs to be clear that that's what happening (we can talk about this).
Also, if they are saying they are uploading code, and they don't upload code

[2020-11-03 18:17] barsenault-fsu commented on #56
It can't be post launch.  Changing from a single select to a multi-select is a data structure change.

[2020-11-10 19:22] barsenault-fsu commented on #56
Reviewed in the 11/10 meeting.  Got a thumbs-up.  Closing.

[2020-11-10 19:22] #56 closed, assigned to nobody

[2020-11-10 19:37] barsenault-fsu commented on #57
Reviewed in the 11/10 call.  If external is selected, then the URL is required.  If uploaded is selected, then the file is required.  Editing, selecting the opposite option, and saving will erase the previous file or url.  It sounded like this was acceptable, but I'll leave this open for now for any feedback during pre-testing data entry.

[2020-11-20 14:45] rkmase opened #58 "Breadcrumb for Dashboard should read "Dashboard" and not the user's email address"
What the title says

[2020-11-20 14:47] rkmase opened #59 ""Member for" in Dashboard always says "1 second ""
Should probably fix this or remove it?

[2020-11-20 20:05] rkmase commented on #59
Bryan tested, looks like a caching issue - we may just want to remove the line all-together, not really sure its useful

[2020-11-30 18:30] rkmase opened #60 "If user chooses a pre-existing email during account creation..."
it should put them back at the form with a notation/error message with the form still filled, NOT dump them at a login page with the error

[2020-12-01 14:25] rkmase opened #61 "Separate "Edit profile" and "Change password" into two links"
Change password can just go to an anchor link to the bottom of the profile page. A couple users had issues finding "change password" because its just tacked on to the end of a long link

[2020-12-01 16:09] barsenault-fsu commented on #59
I removed the "Member for" from the dashboard view.

[2020-12-01 16:09] #59 closed, assigned to barsenault-fsu

[2020-12-03 20:33] bryjbrown commented on #50
This is done and viewable on test.ldbase.org.

[2020-12-03 20:36] bryjbrown opened #62 "Improve display of active search facets"
Currently an active search facet displays as a "pill" that can be closed at the top of the search, as requested in https://github.com/ldbase/ldbase_issues/issues/50.

Additionally, we should have active facets float to the top of the facet list instead of the bottom, sometimes beyond the fold of the top 5 results requiring a user to click the "Show more" link. See the following images provided by

[2020-12-04 21:53] barsenault-fsu commented on #61
I split the link into "Edit your profile" (which goes to where it wet before" and added "Change your password" which goes to a webform with just the confirm password fields.  I was also able to add a Cancel button to the form that returns the user to the dashboard.

[2020-12-14 19:46] rkmase opened #63 "Multiple inputs (like Investigators) need validation/ possible expand one on default"
Expand to two inputs to show users how they are entered, need validation for commas

[2020-12-14 19:47] rkmase opened #64 "Need validation for when users remove numbers [9] from autocompletes"

[2020-12-14 19:47] rkmase opened #65 "Error message should center page where error is located"

[2020-12-14 19:48] rkmase opened #66 "Project page additional inputs"
Add "down arrow" indicator to "add file" button to show its a dropdown
Add "Add codebook" etc to sections of project
Add Code section

[2020-12-14 19:48] rkmase opened #67 "URL input needs validation or option to select protocol"

[2020-12-16 22:24] trreynolds opened #68 "Data Seal of Approval"
Can you apply for the Data Seal of Approval?  Let me know if I can help with this.  Thanks!

[2020-12-18 19:14] barsenault-fsu commented on #63
Added an additional empty investigator and organization field to the Project form.

[2021-01-05 19:38] trreynolds opened #69 ""Report a problem" button for the public"
We need somewhere for the public to say there is a problem (website is broken/links are not working/dataset has identifiable data in it...). We debated something on each node's page or just one general button? Schots suggested something in the footer would work. Do we think we need a separate button or that the currently-existing email link for Questions/Comments will cover this?  We did discuss i

[2021-01-05 19:50] trreynolds opened #70 "Downloading a dataset should automatically trigger the codebook (child of that dataset) to get downloaded also"
Codebooks (child) are downloaded with dataset (parent) automatically. We see them as always going together.
You asked in today's meeting if all children of that node should download also? I'll bring up in next Psy team meeting and let you know what they say.

[2021-01-05 20:05] trreynolds opened #71 "Download Whole Project"
Give the public a way to download EVERYTHING from the project page. (Datasets, codebooks, etc. all at once, one click.)

[2021-01-05 20:07] trreynolds opened #72 "Subscribe to get dataset version updates"
Since we are allowing versions of datasets, people should be able to "subscribe" to get an update (email) if/when it happens.

[2021-01-05 22:01] bryjbrown opened #73 "Integrate "Unaffiliated Parents" field into webforms and object displays"
The "Unaffiliated Parents" field was originally designed to be a place to store connections to an LDbase object that the current object is related to, but not directly affiliated with. For example, a document that might mention Project KIDS as an inspiration, but not actually part of Project KIDS, should have a way to point to Project KIDS without being part of its project structure. In this way w

[2021-01-05 22:11] barsenault-fsu commented on #67
I pushed config updates to the webforms that (1) change all the URL fields to text fields, (2) add a URL pattern requirement to them, and (3) add a jQuery onclick to the fields that pre-fills them with 'https://' if the field is empty.  (Not on test yet)

https://github.com/ldbase/ldbase_config/commit/d8136ee860654f24472f6f4c643012b5d6ca6436

[2021-01-05 22:13] barsenault-fsu commented on #65
I changed the client-side validation to inline validation and added css to the webforms to try to offset the sticky header some when jumping to the error field.

[2021-01-06 00:07] trreynolds opened #74 ""Unique" data label & location"
Issue: If you're downloading data, is it obvious that this is NOT unique data?
After doing a query, when you click on a dataset, we would like to move the “Unique or Not” item up closer to the top of the info screen. We will change the descriptor text for this to better explain at a glance what this means.
(History: We discussed if this should be a facet delimiting selection, but Shots said when d

[2021-01-08 20:02] trreynolds opened #75 "Two typos"
Please remove the colon and space in our footer on "Grant #: R01HD095193"  should just be "Grant #R01HD095193".
On the About-LDbase team page, please spell Schots's name: Christopher Schatschneider

[2021-01-08 21:30] trreynolds commented on #70
Psy team said: just download the codebook with the dataset (not any other children of the dataset).

[2021-01-08 22:43] trreynolds opened #76 "Published Flag"
When entering information to LDbase, a person COULD choose to save it as a draft = unpublished. This means the metadata is only visible to project admin/project editors but not the public, until they are ready to publish to the web. This is different from embargo (where metadata is still visible to public, but data isn't).
This would be at the content node level (Project, Dataset, Codebook...), be

[2021-01-08 23:12] trreynolds opened #77 "Project Logo"
Add ability to upload/add a project logo.

[2021-01-12 19:37] rkmase opened #78 "Error messages when using bad password at login"
When you try to login with a bad password from the homepage, the error says "1 error has been found:   Email Address" and the error under email address says "Unrecognized username or password." - need those changed to something showing the password is bad, or at least consistent with each other

[2021-01-15 01:08] trreynolds opened #79 "Persons Page"
Please see the 2 documents Sara created in our Interface Mockups folder for reference on how to make the Persons Page. (titled "Initial Scratching.." and "Virtual Notes....")

[2021-01-15 01:10] trreynolds opened #80 "Browse Page"
Please see the 2 documents Sara created in our Interface Mockups folder for reference on how to make the Browse Page. (titled "Initial Scratching.." and "Virtual Notes....") Maybe get with Psy team before starting design to see if we have any updates.

[2021-01-15 01:11] trreynolds opened #81 "Community/Users Page"
Please see the 2 documents Sara created in our Interface Mockups folder for reference on how to make the Community/Users Page. (titled "Initial Scratching.." and "Virtual Notes....") Maybe get with Psy team before starting design to see if we have any updates.

[2021-01-15 01:11] trreynolds opened #82 "Home Page"
Please see the 2 documents Sara created in our Interface Mockups folder for reference on how to make the Home Page. (titled "Initial Scratching.." and "Virtual Notes....") Maybe get with Psy team before starting design to see if we have any updates.

[2021-01-15 01:20] trreynolds opened #83 "Sara's mockups"
Sara created a document in our Interface Mockups folder titled "Virtual Notes....". Leaving the reminder here to re-address this when you are ready.

[2021-01-15 17:02] trreynolds opened #84 "Google Chrome saying "not secure" website"
My google chrome says the test site is not secure. I think this is just because it's our test site. Will this message be there when we go live with the real site?

[2021-01-15 17:10] trreynolds opened #85 "FCRR Admin Account"
Just making sure we have a way for one of us (FCRR) to be able to add/edit all metadata and data on the site (even if we are not a Project Admin or Project Editor). This will be helpful during the beginning when we are helping researchers set up their projects.

[2021-01-15 17:13] trreynolds commented on #83
Just noting that we had talked about eventually having usage data (altmetrics? others?)  at a higher level, not just per page, to be shared. We talked about having this on the front page or the “2nd home page”. Noting it here so it doesn't get forgotten.

[2021-01-19 15:12] Favenzio commented on #84
Yes, you are correct. The test site is insecure because we have not acquired an SSL certificate yet. We will make sure the production server is secure prior to launch. Thank you for pointing out this issue.

[2021-01-19 15:35] Favenzio commented on #75
Removed colon from site footer. Could not find misspelling of Schot's name in the About LDbase page. Will review next meeting.

[2021-01-19 15:46] trreynolds commented on #75
It's on this page:  http://test.ldbase.org/about/ldbase-team

[2021-01-19 15:47] trreynolds commented on #84
Thanks, @Favenzio!

[2021-01-19 15:49] Favenzio commented on #74
Unique or derived field has been moved up in the dataset display.

[2021-01-19 15:53] Favenzio commented on #75
Thanks for the clarification @trreynolds. I was able to find it. Will push to test at noon.

[2021-01-19 15:59] Favenzio commented on #66
Down arrow and sub-menus have been added to project and dataset display. Ready for review.

[2021-01-19 19:05] Favenzio commented on #67
@rkmase has accepted solution.

[2021-01-19 19:05] #67 closed, assigned to barsenault-fsu

[2021-01-19 19:08] Favenzio commented on #63
@rkmase has accepted solution.

[2021-01-19 19:08] #63 closed, assigned to barsenault-fsu

[2021-01-19 19:10] Favenzio commented on #66
@rkmase has accepted solution.

[2021-01-19 19:10] #66 closed, assigned to Favenzio

[2021-01-19 19:11] Favenzio commented on #65
@rkmase accepted solution.

[2021-01-19 19:11] #65 closed, assigned to barsenault-fsu

[2021-01-19 19:12] Favenzio commented on #75
@trreynolds has accepted solution.

[2021-01-19 19:12] #75 closed, assigned to nobody

[2021-01-19 19:52] Favenzio commented on #54
solution has been accepted.

[2021-01-19 19:52] #54 closed, assigned to barsenault-fsu

[2021-01-19 19:57] Favenzio commented on #33
Spoke to psyc team and we'll add link to banner.

[2021-01-20 22:07] barsenault-fsu commented on #61
Closing as complete

[2021-01-20 22:07] #61 closed, assigned to barsenault-fsu

[2021-01-20 22:10] barsenault-fsu commented on #55
These fields are set as required now.  Closing issue

[2021-01-20 22:10] #55 closed, assigned to barsenault-fsu

[2021-01-21 14:42] bryjbrown opened #86 "Test S3 connection for production site"
Currently test.ldbase.org is using a local MinIO server for object storage in a way that mimics S3, but actual S3 storage needs to be tested and configured before production data can be received.

[2021-01-21 14:45] bryjbrown opened #87 "Finalize CrossRef DOI minting"
Currently test.ldbase.org creates generates DOIs and inserts them into the node metadata, but the generated DOI is not minted with CrossRef. This last bit needs to be implemented before receiving production data in order to ensure that DOIs given to production data work correctly.

[2021-01-21 16:05] Favenzio opened #88 "Project Members Screen: Add List of Embargo Exceptions"
In order to provide a Project Administrator a full picture of the access granted to the project, it would be a good idea to add a second table under the  List of Users. The new table could be titled, "Granted Embargo Exceptions". It would be a list of all the users that have been granted exceptions to embargoes. The columns could be: 'username', 'File to be Accessed' and 'embargo duration'. We cou

[2021-01-21 16:15] Favenzio opened #89 "My Dashboard: Show List of Embargoed Items to Which User has Been Given Exceptions"
Please add a view of all the items to which an user has been granted an embargo exception in the 'My Dashboard' page.

[2021-01-21 16:17] Favenzio commented on #89
@barsenault-fsu found a quick way to do this and has added this feature. I will mark as ready for review after our next test.ldbase.org update.

[2021-01-21 17:21] rkmase opened #90 "Change password screen wording"
Fields should read "new password", wording should indicate this is for changing your password

[2021-01-21 17:24] rkmase opened #91 "Input labels larger - buttons indented on forms"
Sections need to be more clear while scanning on all forms. Make the label font larger or increase css weight attribute. Indent buttons so they are not at the same left indent as the labels/titles

[2021-01-21 17:30] rkmase opened #92 "Left side hierarchy block needs update"
Move social media to bottom of sidebar
Change label to "Project Hierarchy" (UX note - Not sure why these titles are all uppercase, we know that people notice and read regular case easier)
Make titles larger/more visible someway

[2021-01-21 17:31] rkmase opened #93 "Check for https repeat in url field"
If someone mistakenly cut and pastes an additional https/http into the text field, remove it with js

[2021-01-21 17:32] rkmase commented on #76
Note from UX testing: May want to consider changing "Submit" to "Save" or something more appropriate.

[2021-01-21 17:34] rkmase opened #94 "Remove or warn when user inputs a comma into single-item autocomplete fields"
Example - area of expertise: writing, math, science < invalid use of commas, should be one item per entry field

[2021-01-21 18:10] Favenzio commented on #58
Solution has been accepted.

[2021-01-21 18:10] #58 closed, assigned to barsenault-fsu

[2021-01-21 18:34] Favenzio commented on #50
Solution has been accepted.

[2021-01-21 18:34] #50 closed, assigned to nobody

[2021-01-21 18:35] Favenzio commented on #49
Solution has been accepted. Please create new issues if other changes are required.

[2021-01-21 18:35] #49 closed, assigned to barsenault-fsu

[2021-01-21 18:39] Favenzio commented on #45
Solution has been accepted.

[2021-01-21 18:39] #45 closed, assigned to Favenzio, barsenault-fsu

[2021-01-21 18:41] Favenzio commented on #44
Solution has been accepted.

[2021-01-21 18:41] #44 closed, assigned to Favenzio

[2021-01-21 18:42] Favenzio commented on #42
Changed download link into a button. Solution has been accepted.

[2021-01-21 18:42] #42 closed, assigned to Favenzio

[2021-01-21 18:43] Favenzio commented on #40
Solution has been accepted.

[2021-01-21 18:43] #40 closed, assigned to Favenzio, barsenault-fsu

[2021-01-21 18:43] Favenzio commented on #39
Solution has been accepted.

[2021-01-21 18:43] #39 closed, assigned to Favenzio

[2021-01-21 18:48] Favenzio commented on #31
We no longer use steps for account creation.

[2021-01-21 18:48] #31 closed, assigned to Favenzio

[2021-01-21 18:48] #30 closed, assigned to Favenzio, barsenault-fsu

[2021-01-21 18:49] Favenzio commented on #26
Messaging feature has been implemented.

[2021-01-21 18:50] Favenzio commented on #23
Solution has been accepted.

[2021-01-21 18:50] #23 closed, assigned to Favenzio, bryjbrown

[2021-01-21 18:50] Favenzio commented on #22
Solution has been accepted.

[2021-01-21 18:50] #22 closed, assigned to Favenzio, bryjbrown

[2021-01-21 18:51] Favenzio commented on #20
Solution has been accepted.

[2021-01-21 18:51] #20 closed, assigned to bryjbrown

[2021-01-21 18:52] Favenzio commented on #18
Solution has been accepted.

[2021-01-21 18:52] #18 closed, assigned to bryjbrown

[2021-01-21 18:52] Favenzio commented on #7
Solution has been accepted.

[2021-01-21 18:52] #7 closed, assigned to Favenzio, bryjbrown

[2021-01-21 20:34] barsenault-fsu commented on #90
Fields changed to "New password" and "Confirm new password"

[2021-01-21 21:55] barsenault-fsu commented on #94
All the single-item autocomplete fields warn users if they type a comma:
"You added a comma.  Please only enter one item per line.
Add additional lines if needed."

[2021-01-22 19:42] trreynolds opened #95 "A way for public to flag us to let us know they want to contribute to Harmonized Table"
Add a flag during data entry asking them if they want to add this data to our harmonized dataset (?). We will get an email and deal with it from there for now.  Sara will be providing you with the text for this.

[2021-01-25 14:55] barsenault-fsu commented on #95
@trreynolds I'm going to add the "harmonized dataset" field to the Dataset data structure, form, and put together an email that will go to site administrators.  Please let me know when you have text for the field and email, and where on the dataset form you would like the field to appear.

[2021-01-25 14:57] Favenzio commented on #92
Added the changes requested.

[2021-01-25 15:49] rkmase opened #96 "Full Hierarchy page linked from sidebar"
There should be a page that shows the full project hierarchy that's linked from the sidebar title, AND a (see more) link from the bottom of the block.

[2021-01-26 14:00] rkmase opened #97 "Display/CSS needs minor tweaking"
![Capture](https://user-images.githubusercontent.com/67657370/105854470-f0954b00-5fb4-11eb-9e2f-8b272285c767.png)

See screenshot with instructions - variations make the display look slightly "off"

[2021-01-26 18:43] rkmase opened #98 "Add boolean to inline search"
ie. allow boolean AND NOT OR within search, that result in the appropriate boolean functions

[2021-01-26 18:46] rkmase opened #99 "Remove boolean examples from search labels until boolean is implemented"
(Boolean AND), (Boolean OR), (Boolean NOT)

[2021-01-26 19:00] barsenault-fsu commented on #76
Not yet on test, but noting here:   added checkboxes to the webforms that ask,  "Make this information publicly available?" and have a description text that reads, "If you uncheck this box, users will not be able to view or search for any metadata (i.e. information) about your ______ (project, code, document, etc.). You can uncheck the box to save the metadata as a draft and later check the box to

[2021-01-26 21:52] barsenault-fsu commented on #95
The field is on Test now and is part of the data model.  I need clarification on the language and where on the form you would like the field.  Currently it's between "Are these data unique?" and License.

[2021-01-27 12:19] #90 closed, assigned to barsenault-fsu

[2021-01-27 12:22] #92 closed, assigned to Favenzio

[2021-01-27 12:22] #94 closed, assigned to barsenault-fsu

[2021-01-29 14:32] rkmase opened #100 "Interface consistancy to-do list"
This is a container for some interface items that need addressing in order to present a cohesive "feel" to how the site looks and feels to use - add more as needed:

- Input fields should all be squared (project entry) or rounded (top search bar) but not a mix
- Buttons need standardization in size. Length can be different but height should at least remain the same (see Get Citation button)
- Down

[2021-01-29 19:36] barsenault-fsu commented on #78
Changed the "1 error ..." banner to read "Unrecognized username or password"

[2021-01-29 23:30] barsenault-fsu commented on #85
I created a new FCRR Admin role, giving it a subset of administrator permissions to add/edit/delete content, add/edit/delete taxonomy terms, bypass groups permissions, and administer messages.  Also added the FCRR Admin role where admins are emailed by LDbase, such as when a new taxonomy term is added and when the report a problem form is complete.

When this is moved to Test, I will tag as need r

[2021-02-01 19:30] barsenault-fsu commented on #93
I will roll back the jQuery that adds https// to the field.

[2021-02-01 20:14] barsenault-fsu commented on #93
I have removed the jQuery that auto adds the protocol to the url/website fields

[2021-02-02 02:52] trreynolds opened #101 "Relational Database info"
On the dataset screen, if they select "Dataset will be uploaded", additional options appear. One of them is for "Dataset Version Upload." Please change the text below the upload box to this:
Upload your dataset here. We recommend storing your data in a non-proprietary format (e.g., .dat or .csv file). If you use relational databases, consider storing your data on LDbase as flat files or in a file

[2021-02-02 04:04] trreynolds opened #102 "Project Members - text change"
For embargo language on the Edit screens, where it currently says, "Access restriction exempt users
Enter LDbase users that are exempt from the access restriction."
Please change to:
Access Restriction Exempt Users
When you restrict public access to your data, the Project Administrators and Project Editors are the only people who can view those files. You can, however, allow certain individuals, s

[2021-02-02 04:19] trreynolds opened #103 "CC by license - text change for Code, Codebook, Document screens"
Leave the DATASET screen as is!  But change the others to this:  (instead of material, it should say Code or Codebook or Document or whatever screen you are on, like it does now).

Choose the license type for your material. There are many levels of Creative Commons (CC) licenses you can choose from. For full information about CC licenses, read about it in the Best Practices page (Brian, include a

[2021-02-02 12:47] bryjbrown commented on #68
[Data Seal of Approval](https://www.coretrustseal.org/about/history/data-seal-of-approval-synopsis-2008-2018/) doesn't exist anymore, it has been replaced by [CoreTrustSeal](https://www.coretrustseal.org/). Application costs €1,000 (~$1,200), and is centered on 16 requirements outlined at https://zenodo.org/record/3638211#.YBG1ked7mUk.

[2021-02-02 13:42] rkmase opened #104 "Link to license page under license input description"
Show a clear link to license "about" page

[2021-02-02 13:43] rkmase opened #105 ""Most recent" limits on Project page"
Add a "show more" link when limit is reached for recent items

[2021-02-02 13:44] Favenzio commented on #91
Added larger labels, indented buttons and added space between sections.

[2021-02-02 13:44] rkmase opened #106 "Add a "Browse all Items" button - front page?"
Links to a blank search, allows users to browse

[2021-02-02 13:46] rkmase opened #107 "Changing all multiline inputs to pillbox style inputs"
Users are confused that there's no confirmation of their input, repeatedly click on the + button to "confirm" their input. Still attempt to use commas on one line. Pill box would solve all of these issues.

[2021-02-02 13:49] rkmase opened #108 "Update "Areas of expertise" help text in Profile"
Refer to the user in the second person

[2021-02-02 13:51] rkmase opened #109 "Limiters on search need help"
"Show all" is not intuitive to users - should say "remove limiter" or something similar
"Show more" needs to be bolded or more apparent
Selected limiters need to be moved to top of list and made to stand out

[2021-02-02 21:01] barsenault-fsu opened #110 "Remove DOI creation form from edit workflow"
"DOI screen annoying after first go"

Only ask if user would like to mint a DOI when an item is created.  Do not ask when item is edited.

[2021-02-02 23:16] barsenault-fsu commented on #110
Removed the question/form from the edit workflow.  Will update "needs review" label when it's moved to Test.

[2021-02-03 23:08] barsenault-fsu commented on #101
I made these changes to the dataset and code forms and will update this with the Needs Review tag when it gets moved to Test.

@trreynolds FYI, you mention in the issue that I don't have to list all the Access options on the screen and that you don't prefer them, but the list of what's accepted and what's displayed come from the same place.  If the extension is accepted, then it's displayed as an

[2021-02-04 12:38] rkmase opened #111 "Fix wording for all upload inputs, change position"
**Old**
"File" will be uploaded
"File" is an external resource

**New**
I will Upload "File"
I have a URL for the "File"

Change this input to the last on each form

[2021-02-04 12:40] rkmase opened #112 "Add link to see all taxonomy terms available"
For inputs with taxonomy, add link to description "See all available "fields""

Link **opens in a new tab** to view that just shows list of terms

[2021-02-04 12:41] rkmase commented on #104
Note, have this link **open in a new tab/window**

[2021-02-04 22:24] barsenault-fsu commented on #103
Updated the field description and added link to the License Types page that opens in a new window.  That should cover this issue and #104 .
Will update with Needs Review when it gets moved to Test

[2021-02-04 22:25] barsenault-fsu commented on #104
See #103 for updated text which includes link to the License Types page which opens in a new window,

[2021-02-05 15:39] trreynolds commented on #68
We would like to get this (post launch if needed). Are all technical requirements in place to do this?

[2021-02-05 20:04] barsenault-fsu commented on #102
I added code that updates the Access Restriction Exempt Users description.  If the user is a Project Administrator, then they get a link on the words "Project Administrators and Project Editors" that opens the Manage Members page for that project in another window.  (If the user is a Project Editor, then they don't have access to the Manage Members page and only get the text "Project Administrator

[2021-02-06 03:46] trreynolds commented on #110
Sara said if you remove this screen (where it asks them if they'd like to create a DOI), then it needs to appear on the content's window "edit" screen. Because what if they need to come back and create a DOI? That is a feature of LDbase.
I'm thinking that could a problem though (because now we are asking for a field to appear ONLY if they're editing a content AND don't have a DOI, AND not creating

[2021-02-06 03:55] trreynolds opened #113 "Mason mentioned that testers said we need clarification and notices that the site is EU compliant for data storage"
We need to make sure we have the European Union equivalent security functions happening (GDPR) stuff added :) What
Data security and transparency rights... and language on our website to let people know
I will try and look up some language on ICPSR and send it to you.

[2021-02-08 18:02] WilhelminavanDijk opened #114 "Add email links"
When adding a contributor or editor to a page, the email should include a link to that page, so that the newly added person can easily navigate to it.

[2021-02-08 18:03] WilhelminavanDijk opened #115 "Contributions page"
On the "my dashboard" add a link to the a new page listing all LDbase "projects" this person has contributed to, but doesn't have editing privileges to

[2021-02-09 13:49] bryjbrown commented on #99
Fixed with https://github.com/ldbase/ldbase_config/commit/906cca91e10d79624ef56727250dbb9ebcbc6f31

Awaiting deployment to test.ldbase.org for review.

[2021-02-09 14:37] Favenzio commented on #111
Let's change the input to first on all these forms. I think it makes more sense from the user's perspective.

[2021-02-09 16:30] barsenault-fsu commented on #111
Changed working on the radio buttons (file upload/externally linked) for Code, Codebook, Dataset, Document forms.
Moved all the related fields up above name field (External URL, Publication Information, File Upload/Dataset version, Data User Agreement,, Restrict Public Access, Embargo Expiration, Embargo Exempt Users)

Will mark as Needs Review when moved to Test.

[2021-02-09 21:27] barsenault-fsu commented on #112
Added links that read "View all_____" to all webform field descriptions that use taxonomies (e.g. "View all Project Descriptors").  Each link opens a new window with a view that lists all terms for that taxonomy.  Each term in that view links to the already existing Taxonomy Term view that shows the LDbase objects that use that term.  I changed the titles of some taxonomies to match the name of th

[2021-02-09 22:31] barsenault-fsu commented on #114
The email will now include a link to the page.

I will update this as Needs Review when it is moved to Test.  It's possible that when the change is moved, that already existing messages will not display correctly, because the message template will have changed and older messages do not include the information needed to create the link.  New messages should work fine.

[2021-02-10 18:38] barsenault-fsu commented on #115
I added a My Contributions button to the dashboard.  It links to the Person view which includes those items where a person is listed as a contributor.

Will update to Needs Review when the change is moved to Test.

[2021-02-11 22:33] barsenault-fsu commented on #107
It isn't possible to change all multiline inputs to the pillbox style inputs.  I'll document why below, but I could remove the + and - button from them if that's confusing.  An example would look like this:

![image](https://user-images.githubusercontent.com/54671134/107704305-05e3c800-6c8b-11eb-8f97-57098286ab06.png)

To add another, the user would have to use the "Add another Website" button.  T

[2021-02-12 01:24] trreynolds commented on #74
Location you moved it to is perfect. Sara wants to add one of those "?" bubbles (for help text) to a field on the "Viewing a Dataset" screen (see attachment)..  for the "Unique" field, to quickly explain to the public what this label means. The help text should say:
If data were collected specifically for this project and are not stored in a slightly different form elsewhere, they are unique. If t

[2021-02-12 01:33] trreynolds commented on #95
The language:
Would you like to add this data to LDbase's Integrated Dataset?
If you wish to contribute your data to LDbase's Integrated Dataset, check this box and you will be contacted by an administrator on how to proceed.

[2021-02-12 14:04] trreynolds commented on #108
Areas of Expertise, please change the descriptive/help line to say, "Enter keywords related to your research interests. Examples: Decoding, Statistical Methods, Interventions, Genetics. Enter as many as you would like."  (Should the examples also/instead be pre-filled and gray like the other example text fields? I wasn't sure if it worked with a single box field like this.)
Other Profile text chan

[2021-02-12 14:11] trreynolds commented on #102
Could you also update the text on the below?
Restrict public access to files?
(Old text: Checking this box will make the submitted files unavailable to the public, but they will still be able to see your metadata.)
New text = Checking this box will make the submitted files unavailable to anyone who is not a Project Administrator or Project Editor of your project, but the dataset metadata will stil

[2021-02-12 15:51] barsenault-fsu commented on #95
Text changed.  Will update to Needs Review when moved to Test

[2021-02-12 16:56] barsenault-fsu commented on #102
Changes made.  Will update to Needs Review when moved to Test.

[2021-02-12 19:45] barsenault-fsu commented on #108
I updated the text. This is a taxonomy-driven field where users can add new terms, so it already has a link to view the taxonomy (see #112 ).  It is also a multiline field so I changed "Enter as many as you would like" to "Enter as many as you would like, each on its own line."

Will update to Needs Review when moved to Test

[2021-02-16 18:47] barsenault-fsu commented on #108
Remove "Examples: ..." text from description.  Leave placeholder.

[2021-02-17 17:03] trreynolds commented on #111
Just matching up the other words that surround this change. Can you do:
(Old header): Dataset uploaded or externally linked
(New header): Upload Dataset or Link to an external source
(Old): If your data are already stored online, select external resource and provide the online location information. If you are storing your data on LDbase select upload and follow the steps.
(New): If you are storing

[2021-02-17 17:20] trreynolds commented on #113
2/16/2021 meeting we decided Dev Team is researching this.

[2021-02-17 20:09] rkmase commented on #113
This is my summary of what needs to be done if we want to be GDPR compliant, I'll be creating these issue in github and assigning as needed. : https://docs.google.com/spreadsheets/d/1DMnp0DbYqHkQdchIt8t2HvUolSSmndeYwiT6oH8UAnM/edit?usp=sharing

[2021-02-17 20:15] rkmase opened #116 "GDPR Action Item - All data collected on users must be "opt-in""
Any collected info on users must be opt-in, including cookies. Pop up on load to "agree to cookies" or "no cookies", forms should have an opt in for any data collected.

[2021-02-17 20:16] rkmase opened #117 "GDPR Action Item - GDPR Representative as a Service"
See "Does my company need an Art 27 GDPR representative in the EU"  gdpr-rep.eu/faq

Highly recommend consulting legal

[2021-02-17 20:17] rkmase opened #118 "GDPR Action Item - Clearly define data privacy policies (plain language) and make them easily accessible"
See article 13 and 14 : https://gdpr.eu/article-13-personal-data-collected/

[2021-02-17 20:19] rkmase opened #119 "GDPR Action Item - Data control"
Mechanism to show a user, at their request, where their collected data is at all times, what information is being collected, how it's being used by whom, and when it's being accessed. Also ability to correct or delete this data when requested. This doesn't have to be on the user side, it just has to be available.

[2021-02-17 20:20] rkmase opened #120 "GDPR Action Item - Assign "Data Protection Officer (DPO)" as a contact for all issues (if needed)"
Required IF:
    -Your organization is a public authority (i.e., controls or maintains public infrastructure or has the authority to regulate public property).
    -Your organization is engaged in large-scale systematic monitoring of user data.
    -Your organization processes large volumes of personal user data.

Highly recommend consulting legal

[2021-02-17 20:21] rkmase opened #121 "GDPR Action Items - Checklist"
Checklist: https://gdpr.eu/checklist/

[2021-02-18 19:45] Favenzio commented on #118
Here is an example: https://gdpr.eu/wp-content/uploads/2019/01/Our-Company-Privacy-Policy.pdf

[2021-02-18 19:46] barsenault-fsu commented on #118
Here is more information about writing the privacy policy  https://gdpr.eu/privacy-notice/

[2021-02-18 23:07] barsenault-fsu commented on #110
After 2/16 meeting where it was decided to only let users mint DOIs for Projects and Datasets, I
1. Removed the DOI minting confirmation form Documents, Codebooks, and Code process
2. Added a checkbox to the Project and Dataset edit forms that appears if the user has not already saved a DOI to that object
3. The checkbox reads,  "Generate a DOI for this _____" and if checked takes the user to the

[2021-02-19 15:22] barsenault-fsu commented on #119
The GDPR Module appears to have tools to help meet these requirements.  Documentation at https://freely-give.gitbook.io/gdpr/documentation especially sections Field List, Tasks, Viewing Stored Data, Subject Access Request, and Data Removal.

[2021-02-19 15:44] barsenault-fsu commented on #116
In addition to the agreements that can be created/set in the GDPR module, there is an EU Cookie Compliance module for controlling cookies.  The documentation for that module is at https://www.drupal.org/docs/contributed-modules/eu-cookie-compliance/configuration

[2021-02-19 21:47] trreynolds commented on #69
Solution on footer: Questions or Comments? Report a problem or contact us at LDbase@fcrr.org.
I'm good with closing this if you are, @barsenault-fsu . Thank you!

[2021-02-19 21:47] #69 closed, assigned to barsenault-fsu

[2021-02-19 21:57] trreynolds commented on #57
Is there a way to warn them, "you are deleting the file you previously uploaded" if they edit and switch (from previously uploaded file to providing a link), just so they know their file will be deleted from LDbase and they can't get it back?
I'm sure they would have a backup file and be able to upload it again if they need to, but I'm thinking since we are advertising that this is place where you

[2021-02-19 22:02] trreynolds commented on #95
Thanks, @barsenault-fsu !

[2021-02-19 22:02] #95 closed, assigned to barsenault-fsu

[2021-02-25 14:00] WilhelminavanDijk opened #122 "Text addition on "data set" form"
Hi,

We would like to add the following to the Participants descriptive text (can be after "view list of participant types") :
"School systems across the globe differ in grade designations. To ensure compatibility between data from different nations, we ask you to provide the age range of your participants instead of their grade."

[2021-03-02 23:21] #103 closed, assigned to barsenault-fsu

[2021-03-10 18:25] rkmase opened #123 "Embeds need to be changed to html"
Example here: https://ldbase.org/resources/best-practices/combining-data

Remove embeds, add content that was in embed to page as regular ol' html

[2021-03-10 18:35] barsenault-fsu commented on #122
Change is done and on Test.

[2021-03-15 11:30] rkmase opened #124 "Odd behavior when using + - for address in Bio"
To reproduce:
Go to bio, should see four lines for address "country, city, state, country(?)" Only city and county have + and -. Press + for city, form adds another country.

[2021-03-15 11:36] rkmase opened #125 "Clarify Instructions - Areas of Expertise"
Instructions should mention that users can choose from existing options, or have the ability to add/make up their own

[2021-03-15 13:59] barsenault-fsu commented on #124
Is this the Work Address Under the Bio field in the Profile edit form? I think you're describing the vertical alignment of the +/- buttons.

The Work Address field, with no data, has the Country field set to " -None- " and depending which country you select it may add city and state fields, or city and province fields, or City and Department fields, or just a city field.  Those fields appear in th

[2021-03-15 14:07] barsenault-fsu commented on #125
I changed the second sentence to "Choose from existing options or enter as many as you would like, each on its own line."

[2021-03-15 14:08] rkmase commented on #124
Ahh yes, now I see. I think this ended up confusing myself and the user. Sure, alternating rows may help? I'm honestly not sure the + - has ever been necessary given the duplication of a more clear "Add another" button we use.

[2021-03-15 20:28] trreynolds commented on #76
While testing this weekend, I did not publish a project, but I did publish it's associated dataset, which is odd, so I'm wondering if we need to control this a bit more. (If you want to see an example of my thoughts: I did not publish the Lion project. But I published the Lions dataset on ldbase.org. What happened was: it allows a viewer to see a dataset, but viewer cannot get treeview, or any pro

[2021-03-16 16:31] barsenault-fsu commented on #115
Button is on Dashboard.  Closing

[2021-03-16 16:31] #115 closed, assigned to barsenault-fsu

[2021-03-16 16:59] Favenzio commented on #52
This must have been happening a few iterations ago. Checked it on Chrome and Firefox and I could not replicate the problem. Setting as ready for review.

[2021-03-16 17:08] Favenzio commented on #84
SSL Certificate has been issued and installed. Closing this ticket.

[2021-03-16 17:08] #84 closed, assigned to Favenzio

[2021-03-16 17:14] Favenzio commented on #32
I assume you mean that it should do an ajax check as the email address is being input into the form? The form doesn't allow you to create a second account with the same email address, so it does check, it just does it after submit. If you just mean that it would be nice if the user was told as they were creating the account, then I agree, but I'll mark it as a nice to have, not a must have. Changi

[2021-03-16 19:23] barsenault-fsu commented on #124
@Favenzio do you think the site needs some kind of tr:nth-child(even) style to shade the multiple Work Address rows on the Person profile form?

[2021-03-16 19:39] #78 closed, assigned to barsenault-fsu

[2021-03-16 19:39] #91 closed, assigned to Favenzio

[2021-03-16 19:39] #93 closed, assigned to barsenault-fsu

[2021-03-16 19:39] #99 closed, assigned to bryjbrown

[2021-03-16 19:40] #104 closed, assigned to barsenault-fsu

[2021-03-16 19:40] #108 closed, assigned to barsenault-fsu

[2021-03-16 19:40] #111 closed, assigned to barsenault-fsu

[2021-03-16 19:40] #112 closed, assigned to barsenault-fsu

[2021-03-16 19:41] #125 closed, assigned to nobody

[2021-03-16 19:53] Favenzio commented on #89
Feature has been tested and it works. Closing ticket.

[2021-03-16 19:53] #89 closed, assigned to barsenault-fsu

[2021-03-16 20:02] Favenzio commented on #116
The EU Cookie compliance module has been installed and all information collection is now on an opt-in basis. Closing ticket.

[2021-03-16 20:02] #116 closed, assigned to Favenzio, bryjbrown, barsenault-fsu

[2021-03-16 22:18] barsenault-fsu commented on #76
@ldbase/issue-managers  I experimented with a couple things and thought about this some.  When it comes to disabling the "Publish on LDbase" checkbox, we really only need to check the parent of the item that we are adding or editing.  We don't need to check the whole tree.  If you don't publish the project you add, then the dataset cannot be published when you add it.  Even if you were 14 levels d

[2021-03-16 22:27] Favenzio commented on #76
Sounds like a plan to me Arsenault. 👍

[2021-03-17 14:54] Favenzio commented on #124
@barsenault-fsu I will add something to that effect today and see if it helps.

[2021-03-18 15:12] barsenault-fsu commented on #85
I added the FCRR Admin role on the production site to Tara and Sara

[2021-03-18 15:12] #85 closed, assigned to barsenault-fsu

[2021-03-18 17:46] Favenzio commented on #124
I added a gray background for even rows. @rkmase and @barsenault-fsu the update is in production. if you could check if it fixes the problem and comment on this issue, I would appreciate it.

[2021-03-18 22:57] #102 closed, assigned to barsenault-fsu

[2021-03-19 00:11] #101 closed, assigned to barsenault-fsu

[2021-03-23 15:04] barsenault-fsu commented on #122
Text is changed and on production.  Closing issue.

[2021-03-23 15:04] #122 closed, assigned to barsenault-fsu

[2021-03-23 15:08] barsenault-fsu commented on #114
A link to the content have been added to the messages when users are added as contributor and when users are added to a project group.  This is on production.  Closing issue

[2021-03-23 15:08] #114 closed, assigned to barsenault-fsu

[2021-03-23 15:11] barsenault-fsu commented on #110
These changes are on production.  Closing issue

[2021-03-23 15:11] #110 closed, assigned to barsenault-fsu

[2021-03-23 15:16] barsenault-fsu commented on #124
I like the alternating row color change.  I think it groups the changing fields of the work address.  I see it's also on all the multi row fields.  Looks good to me.

[2021-03-23 15:18] Favenzio commented on #124
Solution accepted. Closing ticket.

[2021-03-23 15:18] #124 closed, assigned to nobody

[2021-03-23 15:25] barsenault-fsu commented on #6
I just tested the tab order on the web forms.  Tabbing moved on to the next element in order without getting stuck on any multiline fields as it was doing before.  Closing the issue

[2021-03-23 15:25] #6 closed, assigned to barsenault-fsu

[2021-03-23 19:37] barsenault-fsu commented on #76
Changes are on test for review.  One clarification regarding the help text changes: the text above mentions "if you cannot check this box, you first need to publish at the project level."  This is only true if the item you are trying to publish is attached directly to the project.  If you had a published project, an unpublished dataset attached to it, and you added a codebook to the dataset, then

[2021-03-23 19:38] barsenault-fsu commented on #107
Since we can't change all the multiline inputs into pillboxes for the reasons outlined above, I'm closing this issue

[2021-03-23 19:38] #107 closed, assigned to nobody

[2021-03-23 21:09] Favenzio commented on #87
Willa created a project in LDbase prod and a DOI was created successfully.  https://doi.org/10.33009/ldbase.1616514950.a4f3 Assume this issue can be closed.

[2021-03-23 21:09] #87 closed, assigned to bryjbrown

[2021-03-25 20:57] bryjbrown commented on #68
Listing this for posterity:
https://docs.google.com/document/d/1kWVUhAMCuy8sbRqgMkXx0YZHcXvzMK4Fnxk1r-o5Ttg/edit

[2021-04-14 16:03] barsenault-fsu commented on #76
As of 4/1 The "Publish on LDbase" box is unchecked by default.  Users will need to check the box to publish their metadata.

[2021-04-14 16:17] barsenault-fsu commented on #71
On Test for review:

1. On the Project view, next to the citation button is a "Download all Project Files" button that appears when there are files in the project hierarchy that the user can access.
2. Clicking the button creates a .zip file and sends it to the browser for download.
3. The folder structure in the zip file mirrors the project hierarchy (e.g. "project_name/dataset_name/file_name.xls

[2021-04-19 15:35] barsenault-fsu commented on #57
@trreynolds My thoughts regarding this:
If there is a warning about the file, then there should probably be a warning that their external URL will get removed if they switch it to an upload; but we don't have a pop-up warning for users on every form when they switch an option, so I'm wondering if it would be a little overwrought to have one for this.  For this field we already have the text "Uploa

[2021-04-19 16:02] barsenault-fsu commented on #88
This is now on Test and ready for review.

Project Administrators can click on a Project > Manage Members and now see a button that reads "View Granted Embargo Exemptions."  Clicking that button lists the Exempt Users and the files they can access in this project's hierarchy.  Each row has two operation links.  One is to view the item, which goes to the view of the embargoed item (e.g. dataset, co

[2021-04-19 17:43] barsenault-fsu commented on #64
From 3/30 meeting notes: "We discussed it for a few minutes, but the long and short of it is that Drupal does not allow us to handle it in any other way."  Closing.

[2021-04-19 17:43] #64 closed, assigned to Favenzio

[2021-04-19 18:07] barsenault-fsu commented on #60
Made a change so if the user enters an already used email address, then they get returned to the form and the validation message is set on the email field like this
![image](https://user-images.githubusercontent.com/54671134/115282637-6c1c1980-a118-11eb-9d8c-851386b2530f.png)

[2021-04-20 16:45] barsenault-fsu commented on #72
On Test  now.

1. When a logged in user views a Dataset with an uploaded file, a "Get Updates" button appears next to the "Get Citation" button
2. Clicking the Get Updates button goes to a confirmation form asking if the user wants to receive an email when a new version of the dataset file is uploaded
3. If the user confirms, then they return to the Dataset view and the button now reads "Stop Upda

[2021-04-20 16:50] barsenault-fsu commented on #32
This issue is resolved.  The validation is happening and issue #60 changes the redirect after the validation.

[2021-04-20 16:50] #32 closed, assigned to Favenzio

[2021-04-20 17:25] Favenzio opened #126 "Add (unpublished) to the Object Title if it is Unpublished"
We need some way to signal to users that an object is unpublished. I thought a smart idea would be to add it to the title. This would be useful because then it would show up on the project tree. Once the project is published we would have to remove it.

[2021-04-20 21:45] barsenault-fsu commented on #126
I pushed a handler update that will add " (unpublished)" to the title of objects if it isn't already there when they are unpublished.  When an item is published then it will remove " (unpublished)" from the end of the title.

It's only checking for that specific string at the end of the title, so it's possible someone could add text to the title that could keep the code form automatically removing

[2021-04-23 00:56] trreynolds commented on #88
@barsenault-fsu  I made someone an embargo-exception (so they could see the embargoed dataset, and they could); then removed them, but they could still see the embargoed dataset. Does it take a while to change, maybe?

[2021-04-23 01:49] trreynolds commented on #88
@barsenault-fsu
1.) I granted access to a person. When that person views the dataset, it still says the dataset is under embargo, and it says "Access to this file is restricted" (in red) but you can click on it and download it. I assume it shouldn't say access is restricted in red?
2.) I had a second person ask for access. When I granted access to the embargoed item (from the automated email it se

[2021-04-23 02:30] trreynolds commented on #72
Great! In the email message, it says to click on the link "above" (but my link is actually below). Is your link below too? If so, just change the wording to say "below". Also in the message you say, "use the link above to view the dataset and there click the "Stop Updates" button."  Maybe you meant to say, "....and THEN click..."?

[2021-04-23 02:35] trreynolds commented on #72
I clicked to STOP UPDATES but I still received them.  (same question as other github... maybe it just takes a day to work?)

[2021-04-23 14:47] WilhelminavanDijk commented on #71
Ok. The button appears, but Tara and I found the following.
1. If you have two datasets in a project, neither will be downloaded if one of them is embargoed. (should download 1, not 0)
2. if you have two datasets in a project, both of them will be downloaded even if one is unpublished. (should download 1, not 2).
Then i tested with documents where I have 1 published, 1 published and embargoed, and

[2021-04-23 16:29] barsenault-fsu commented on #72
@trreynolds
1. Link text and above/below: I'll change this text "If you no longer wish to receive these notifications, use the link above to view the dataset and there click the "Stop Updates" button." to this "If you no longer wish to receive these notifications, view the dataset, click the "Stop Updates" button, and then click the "Confirm" button."  It looks like the email separates the link UR

[2021-04-23 17:03] barsenault-fsu commented on #88
@trreynolds
I'm sorry but I need to know which account you were using and which account you were adding on which dataset.  Please list out the steps you went through.  Otherwise I'm just guessing to try to recreate the issue.

Also make sure when you switch users that you don't open another tab and do it there.  Log out and log back in from one tab, otherwise it's possible to get mixed up session

[2021-04-23 20:25] barsenault-fsu commented on #88
This is not on test yet, but I think I have guessed what is going on.  Once the fix is pushed to Test I'll update the label on this issue.

First, I want to assure everyone that if a file is embargoed, then it cannot be downloaded.  The problem here was that the dataset view (or document view or code view, etc.) is cached, which normally gets refreshed when the dataset (or document etc.) is saved/

[2021-04-26 17:33] barsenault-fsu commented on #123
Converted pages on Test:

- https://test.ldbase.org/resources/best-practices/working-with-your-irb
- https://test.ldbase.org/resources/best-practices/general-data-management-guidelines
- https://test.ldbase.org/resources/best-practices/data-de-identification
- https://test.ldbase.org/resources/best-practices/combining-data
- https://test.ldbase.org/resources/best-practices/open-science
- https://t

[2021-04-26 18:25] trreynolds commented on #72
1. It's good with one grammar change. Please paste this text:  If you no longer wish to receive these notifications: view the dataset, click the "Stop Updates" button, and then click the "Confirm" button."
2. Perfect

You can close this after making the text change. Thanks!

[2021-04-26 18:36] trreynolds commented on #77
Thanks!

[2021-04-26 18:36] #77 closed, assigned to barsenault-fsu

[2021-04-26 21:18] trreynolds commented on #71
Yes! It's perfect. Thanks!

[2021-04-27 00:27] trreynolds commented on #76
Looks great! I really like the "Remember to ....." message when you move Project from unpublished to published. I think these messages help our users. Thanks!

[2021-04-27 01:18] trreynolds commented on #88
If I have an embargoed dataset, and two outside people request access to it, it sends me two emails (with requests to approve them).
I click the first email, and it approves that person and adds them to my DATASET EDIT screen as approved for access.
I click on the second email, and it says that person is already approved (but they are not, and they are never given access).
I was thinking the email

[2021-04-27 15:04] barsenault-fsu commented on #88
There was a syntax error in the confirmation form that prevented more than one user from getting added.  Sorry for the confusion.
The fix has been pushed to Test.

[2021-04-27 15:06] barsenault-fsu commented on #72
1. changed the message text.  Update is on Test.

[2021-04-27 18:45] barsenault-fsu commented on #57
Team discussed on 4/27 and decided the text and workflow are okay the way they are.  Closing.

[2021-04-27 18:45] #57 closed, assigned to barsenault-fsu

[2021-04-28 13:31] WilhelminavanDijk opened #127 "Text for Data Upload User Agreement"
To be uploaded on the appropriate pages :)

[2021-04-28 17:28] WilhelminavanDijk commented on #127
Oops. That was the wrong file.

Attached here the correct LD base upload user agreement
[LDbase Data Upload User Agreement_3.15.21.docx](https://github.com/ldbase/ldbase_issues/files/6393676/LDbase.Data.Upload.User.Agreement_3.15.21.docx)

[2021-04-28 22:19] trreynolds commented on #72
One more edit (lol). I tried it, and it brought me to the dataset screen (perfect) but I couldn't find the "Stop Updates" button because I wasn't logged in. Just to prevent them from contacting us, can you add this one little bit to the existing language ?
If you no longer wish to receive these notifications: Log in to LDbase, view the dataset, click the "Stop Updates" button, and then click the "

[2021-04-29 16:00] barsenault-fsu commented on #72
1. Changed the message text, adding "Log in to LDbase"
2. The update notification now also gets sent when an embargo is removed from the dataset (request from 4/27 meeting)

[2021-04-29 16:08] barsenault-fsu commented on #88
On Test now:
Discussed at the 4/27 meeting: If a user can access an embargoed item, whether as an exempt user, admin, or editor, then the embargo details in the left column and the orange information at the top of an embargoed item page will have one of these added lines of text:
- "You have been granted an access exemption to this resource."
- "You have access to this resource as a Project Admini

[2021-04-29 18:14] barsenault-fsu commented on #127
I entered the text on Production https://ldbase.org/data-upload-user-agreement

[2021-05-03 14:08] Favenzio opened #128 "Improve Home Page 'logged in' block"
Right now when you are logged in and you go home you get this tiny block on the right hand side that leads you back to the dashboard. I think it would be a good idea to turn this into a 'mini dashboard' of sorts that can take up the entire content region so that we don't have that white space on the left. Making this issue so we don't forget about this improvement.

[2021-05-03 14:21] #71 closed, assigned to barsenault-fsu

[2021-05-03 14:23] barsenault-fsu commented on #76
Changes accepted.  Closing.

[2021-05-03 14:23] #76 closed, assigned to barsenault-fsu

[2021-05-03 14:25] barsenault-fsu commented on #123
All changed to html and on Production.  We discussed changing the red text to bold at the 4/27 meeting and the team was okay with that.
Future edits can be done to the text on Production.
Closing

[2021-05-03 14:25] #123 closed, assigned to barsenault-fsu

[2021-05-03 14:26] barsenault-fsu commented on #88
I added additional user context to the side block to prevent caching issues.

[2021-05-03 14:36] #60 closed, assigned to Favenzio, barsenault-fsu

[2021-05-04 13:49] Favenzio opened #129 "Make sure All cron jobs are Running and return When Instances Refresh"
Make sure the following cron jobs are set:

- Existing user requests
- Unpublished message reminder

[2021-05-04 13:57] barsenault-fsu commented on #72
Changes are on Production.  Closing issue.

[2021-05-04 13:57] #72 closed, assigned to barsenault-fsu

[2021-05-04 14:00] barsenault-fsu commented on #127
Text is on Production.

[2021-05-04 14:00] #127 closed, assigned to barsenault-fsu

[2021-05-04 14:01] barsenault-fsu commented on #126
Reviewed at 4/27 meeting and now on Production.  Closing issue.

[2021-05-04 14:01] #126 closed, assigned to barsenault-fsu

[2021-05-04 14:04] barsenault-fsu commented on #88
These changes and fixes have been moved to Production.  If you notice something out of sorts you can reopen this issue.

[2021-05-04 14:04] #88 closed, assigned to barsenault-fsu, trreynolds

[2021-05-05 19:28] WilhelminavanDijk opened #130 "Terms of use to upload"
Here are the terms of use for the live page!
[LDbase Terms of Use_3.15.21 (2).docx](https://github.com/ldbase/ldbase_issues/files/6429769/LDbase.Terms.of.Use_3.15.21.2.docx)

[2021-05-11 19:21] WilhelminavanDijk opened #131 "New submenu for resources"
Hi,

Can you make a new resources menu item called "data use versus data sharing agreements"?

It should follow the path Resources -> Best Practices -> Data use vs Data Sharing

I'm attaching the text!
[Data use agreements and Data sharing agreements.docx](https://github.com/ldbase/ldbase_issues/files/6461504/Data.use.agreements.and.Data.sharing.agreements.docx)

[2021-05-11 21:30] barsenault-fsu commented on #130
This is on production now at https://ldbase.org/terms-of-use

[2021-05-12 14:48] barsenault-fsu commented on #131
The page is on production at https://ldbase.org/resources/best-practices/data-use-vs-data-sharing and ready for review

[2021-05-14 13:30] WilhelminavanDijk opened #132 "Data sharing template to upload"
Hi!

here is a link to the figshare, and the original text, of the data sharing agreement. To be put in Resources -> templates -> data use agreements

https://figshare.com/articles/preprint/Example_Data_Sharing_Agreement/14576049
[DataSharing_LDbase.docx](https://github.com/ldbase/ldbase_issues/files/6479060/DataSharing_LDbase.docx)

[2021-05-14 18:57] barsenault-fsu commented on #132
The content is up at https://ldbase.org/resources/templates/example-data-sharing-agreement

[2021-05-20 18:13] barsenault-fsu commented on #106
Front page links to browse, search, resources, and add data added.  Browse page also added.

[2021-05-20 18:13] barsenault-fsu commented on #128
Links added to logged in block to more dashboard functionality

[2021-05-25 16:50] Favenzio commented on #86
s3 connection has been tested and proven to work as expected. Closing issue.

[2021-05-25 16:50] #86 closed, assigned to bryjbrown

[2021-05-25 17:48] #52 closed, assigned to Favenzio, barsenault-fsu

[2021-05-25 18:15] trreynolds opened #133 "Is it possible to log the person out of LDbase if they close the browser (and give them a message first if they have unsaved data or metadata)"
This was a Schotz request. Thoughts: worried about people logged in at a common lab computer; maybe accidentally editing someone else's data or adding a project under the wrong account.
Team zoom discussion: we also don't want to be annoying and log people out (timer wise) before they were ready.

[2021-05-25 18:17] barsenault-fsu opened #134 "Cannot scroll to reach Resources sub-menu items"
The Resources > Templates and Resources > Best Practices menus drop past the bottom of the page.  The user cannot scroll to get down to the bottom items.

[2021-05-25 18:45] trreynolds opened #135 "My Dashboard"
Can you collapse a person's "Project Description" on their personal dashboard to just two lines? It's too much to scroll through on Dashboard view. Thanks!

[2021-05-27 23:51] #131 closed, assigned to barsenault-fsu

[2021-05-27 23:53] #132 closed, assigned to barsenault-fsu

[2021-05-27 23:54] #130 closed, assigned to barsenault-fsu

[2021-05-28 15:41] trreynolds opened #136 "Tagline"
Can we add a slogan/tagline to our front page that says "A Project-Based Data Repository" right under the LDbase logo?
note to self: psy team will then tweak in other spots we see fit, like maybe the footer, etc.

[2021-06-01 20:32] barsenault-fsu commented on #135
The description will now display about 400 characters with a "View Project" link at the end.

[2021-06-09 18:13] barsenault-fsu commented on #134
I reduced the amount of padding in the menu, so it's not as long and should not stretch off the page *if you are not an administrator*.   The extra black and white menus at the very top of the page cause a problem with the positioning of the submenu Resources > Templates on a shorter display like a laptop screen.  On a monitor it doesn't seem to happen.

At this point, we can't add anymore links t

[2021-06-14 14:13] barsenault-fsu commented on #68
There was a workshop at the Open Repositories conference this year called "How repositories can increase their FAIR share" and the first half or so talks about the process of applying for CoreTrustSeal certification.  The recording is at https://zenodo.org/record/4907579#.YMdj8PlKj-i

[2021-06-14 19:14] barsenault-fsu commented on #74
There is now a help tooltip on the dataset view for this field using the text supplied above.  I tried to make it look just like the form help.  Let us know if this works.

[2021-06-14 23:34] trreynolds commented on #136
6/8/21 meeting: Favenzio asked if our graphic artist could add the tagline as a part of the logo image rather than it being a text field. Schots said yes and asked me to ask Nathan. I sent a request to Nathan.

[2021-06-25 19:28] trreynolds opened #137 "Homepage image"
I'm not sure if you have plans/designs in the works for the homepage other than what we are currently seeing, but until then, can we switch the main image from that FSU picture to this one?  Thanks!  I'll include the true image (should be around 2MB) and also the mockup image our graphic designer sent, just in case it helps to see both.
![ldbase_homepage_mockup](https://user-images.githubuserconte

[2021-06-25 21:12] barsenault-fsu commented on #106
Changes to the Browse Page:
1. Content count bar graph
2. Contributions network graph

After updates the following enhancements will be on Test and Production:
1. the data visualization nodes and bars on the bar graph will be links to that item or group of items
2. The bar graph will have a hover that shows the count and type of item
3. the Browse by Vocabulary pages will list the taxonomy terms a

[2021-06-25 21:13] barsenault-fsu commented on #74
Solution accepted.  Closing.

[2021-06-25 21:13] #74 closed, assigned to Favenzio, barsenault-fsu

[2021-06-25 21:13] barsenault-fsu commented on #134
Solution accepted.  Closing

[2021-06-25 21:13] #134 closed, assigned to barsenault-fsu

[2021-06-25 21:16] barsenault-fsu commented on #47
Found a way to add the parent project as an indexed field on datasets, code, and documents.  Closing.

[2021-06-25 21:16] #47 closed, assigned to bryjbrown, barsenault-fsu

[2021-06-25 21:28] trreynolds commented on #135
Looks good.

[2021-06-25 21:28] #135 closed, assigned to barsenault-fsu

[2021-06-28 16:27] barsenault-fsu commented on #137
This new image is ready for review on Test.

[2021-06-28 16:39] barsenault-fsu commented on #133
I figured out how to log a user out of LDbase when they close the browser, and it doesn't depend on the length of the session.  In other words, it will log you out only when you close the browser and not log you out in the background if you've been working a long time.

It appears you get the same JavaScript alert if you try to close the browser and are on a form with unsaved changes as you have b

[2021-06-28 16:40] barsenault-fsu commented on #106
@trreynolds  Test has been updated and the changes to the Browse page are ready for review.

[2021-06-28 19:13] WilhelminavanDijk opened #138 "Delete template page"
Please delete the
resources: templates: data use agreement
page. We moved it to best practices and won't have a template for it, and it is obsolete.

[2021-06-28 19:48] WilhelminavanDijk opened #139 "Update text DOI"
Can you substitute the following to the DOI fields' subtexts?

**Codebook:**
A digital object identifier provides a persistent link to a specific research output and makes it a citable product. A different DOI can be assigned to each of your research outputs, such as a project, dataset, published manuscript, survey, or conference presentation. Other researchers will be able to easily find your spe

[2021-06-28 20:13] barsenault-fsu commented on #138
I deleted the page and I deleted the link to it from the Templates landing page.

I'm just going to leave this open still while I explore a way to have those landing pages automatically reflect the content rather than have to manually update the list.

[2021-06-28 21:18] trreynolds opened #140 "Showing an item is "embargoed" in the tree view"
What do you think about adding "(embargoed)", in the same manner we do "(unpublished)", after an item's name on the tree view of the project?

[2021-06-29 20:26] barsenault-fsu commented on #109
Made some changes that are now on Test, but here is a screenshot from my local machine:
![image](https://user-images.githubusercontent.com/54671134/123862268-22a93100-d8f6-11eb-87ea-ff38a76c9894.png)

Changes:
1. "Show All" is now "Remove Limiters"
2. "Show More" (and "Show Less") are now bold
3. Selected limiters are moved to the top of the list and bolded.  (If there is more than one limiter the

[2021-06-29 20:39] barsenault-fsu commented on #138
I'm going to leave this issue open for now, because while deleting this page I had an idea to make the lists of links on the landing pages (for example https://ldbase.org/resources or https://ldbase.org/resources/templates) to be dynamic.  Not yet on production.

[2021-06-30 13:03] barsenault-fsu commented on #139
Changes are on Test and ready for review.

[2021-06-30 19:49] trreynolds opened #141 "Software bug - "(unpublished)""
If you have an unpublished Project, then add items/nodes to it (and they are, by default, unpublished also), it does not say "(unpublished)" after them in treeview, and it should.  example: adding code, a document, a dataset.

[2021-06-30 20:01] trreynolds opened #142 "Letting Persons see all their data on LDbase"
Psych Team would like to see My Projects and My Contributions on one page (not via the separate button). "My Dashboard" view. We can discuss headers/words/layout in a further discussion. This is a low priority.

[2021-06-30 20:10] trreynolds opened #143 "Duplicating authors from node to node - Metadata"
Uploading Metadata and Data - User feedback.
Often the metadata (like data contributors/authors) are the same from node to node (project to dataset to document, etc). Users weren't sure if they had to re-enter the people again or if they could skip this step.
We need a way to be able to duplicate authors/contributors previously entered anywhere else on the project (projects, datasets, documents, e

[2021-06-30 20:18] trreynolds opened #144 "Duplicating metadata from one Node to another new Node"
Uploading Metadata and Data - User feedback.
Similar to github 143. When entering nodes, can they duplicate a previously-entered node? This would be for users entering a dataset, and then entering a 2nd/3rd/4th dataset that might be really similar (but not the same) and they want to copy over all of the metadata; then tweak to their specifics after that. So I guess the idea is, can you actually du

[2021-07-01 21:22] trreynolds opened #145 "When there are multiple pages of information to view, what is the web standard for displaying that?"
At the bottom of our webpages, sometimes you provide an option to scroll through multiple pages. Usually, it says "First Previous 1 2 3 Next Last" with buttons on each of those words. But sometimes it just says "Page 1 Next" or "Page 1 >>"  Can you default the ones that only show Page1  to the other example you've used (above) or something like 'Page 1 of XX' so that users know there are many more

[2021-07-01 21:22] barsenault-fsu commented on #141
Good catch.  I have made the fix.  Once Test is updated I will mark this as Needs Revew.

[2021-07-02 15:17] barsenault-fsu commented on #62
Looks like this also came up in usability testing as issue #109 and is addressed there

[2021-07-02 15:55] trreynolds commented on #137
@barsenault-fsu  Looks good! After you put it on production, you can close this. We all reviewed it in our meeting today and gave it the thumbs up. Thanks!

[2021-07-06 03:31] trreynolds opened #146 "New document for User Guide menu: Information To Gather Before Uploading Your Data"
Please place the text in the email I sent you (LDbaseRequestedFields.doc) under Menu: Resources-->User Guide--> put it here. The menu subheading can be: INFORMATION TO GATHER BEFORE UPLOADING YOUR DATA
Side note: We will eventually have two items in there (one will be a video walking people through LDbase), and this is the other.

Jeffrey referenced page numbers at the very beginning of the docume

[2021-07-06 04:12] trreynolds opened #147 "New homepage button - First Time Storing Data"
Need a new "button" on the home page. Will be 5th in the series after Browse, Resources, Search, Add Data.
Button's text (a suggestion, I realize this might look too long): "It's My First Time Storing Data On LDbase"  (too long? Maybe: First Time Storing Data)
Text link should also be housed under Menu: About (that is what we said in our team meeting, but I'm thinking it should actually be Resourc

[2021-07-08 11:54] rkmase opened #148 "Add favicon"
Right now its still the default drupal drop.

[2021-07-08 12:02] rkmase commented on #109
I think this is better, but a couple of suggestions: "Remove Limiter" still looks like its part of the list of limiters, it even has a bullet point - it needs to be separated somehow, since its not a limiter, its a higher function. Conversely, the "Show More" link is disjointed, and is too far disconnected from the options its showing more of. If you could just move it in-line with the rest of the

[2021-07-09 15:08] trreynolds opened #149 "Our LDbase custom block footer is missing again in production"
It's the text that says this:  About LDbase
Welcome to LDbase, an NIH-funded collaboration between researchers and librarians to build a first-of-its-kind behavioral project-oriented data repository containing decades of knowledge from educational and developmental sciences on individuals across the full range of abilities. You can read more in our About section.
You may cite LDbase: Hart, S.A., S

[2021-07-09 15:37] trreynolds opened #150 "404 messages"
https://ldbase.org/browse-data   --->   LDbase contributions  --->  When you click on some of the dots, you get a 404 error.
1. Maybe it's showing people we have deleted?
2. Isn't this an outdated 404 message? I feel like around a year ago we decided on other text that should be there. Can you use that text?  If you can't find it, maybe something like: This page was not found. Feel free to contact

[2021-07-09 15:40] trreynolds commented on #150
Or maybe better to link them to our Report a Problem form? (but still ask them to copy the url of the page they are on before going there, so they can paste it into the form)

[2021-07-09 16:15] WilhelminavanDijk commented on #139
oh shoot, I forgot the "code" one...
Document:
A digital object identifier provides a persistent link to a specific research output and makes it a citable product. A different DOI can be assigned to each of your research outputs, such as a project, dataset, published manuscript, survey, or conference presentation. Other researchers will be able to easily find your specific output through its DOI.

[2021-07-09 20:38] trreynolds opened #151 "Contacting other registered users"
Entering this as it was discussed in our 7/6/21 ldbase team meeting and dev team said to make a priority github.
As a part of our messaging feature, there should be a way for a registered ldbase user to contact another registered ldbase user (maybe simply to communicate or maybe to ask a question about the project).

History on this: Sara was thinking something like: go to the project page, click

[2021-07-15 17:52] barsenault-fsu commented on #139
I committed the change.  When test and production are updated, the change should appear.

[2021-07-15 17:55] barsenault-fsu commented on #141
This fix has been pushed to test and production

[2021-07-15 18:03] barsenault-fsu commented on #149
I have re-placed the custom block in the Featured Bottom region.  I'm not sure why that happened.  There may have been an issue with the configuration import that caused this issue and the 404 errors on the data visualization of contributions.  Still investigating the cause.

[2021-07-15 18:38] barsenault-fsu commented on #150
It appears to have been an issue with the configuration not properly updating.  The links work on Test.  Part of the view configuration does not seem to have gotten imported on Production.  We're investigating the cause.

I don't recall an updated text for the Access Denied (403) or Not Found (404) pages.  I based new text on what you wrote above in the issue.  They are at https://ldbase.org/acces

[2021-07-15 19:49] barsenault-fsu commented on #147
Text for page

https://docs.google.com/document/d/1XeM75H453OW5VXp4M1NiIdd9DFRZVwEc_3RitJAk4YE/edit?usp=sharing

[2021-07-15 19:53] barsenault-fsu commented on #146
Document for this issue

[LDBase Requested Fields.docx](https://github.com/ldbase/ldbase_issues/files/6825896/LDBase.Requested.Fields.docx)

[2021-07-15 20:07] barsenault-fsu commented on #136
Tagline image in different formats.

PNG
![ldbase_logo_tagline_horizontal_color](https://user-images.githubusercontent.com/54671134/125850681-d379cc93-d029-474d-84dc-c922149554d9.png)

PDF
[ldbase_logo_tagline_horizontal_color.pdf](https://github.com/ldbase/ldbase_issues/files/6825964/ldbase_logo_tagline_horizontal_color.pdf)

JPG
![ldbase_logo_tagline_horizontal_color](https://user-images.githubu

[2021-07-15 20:37] barsenault-fsu commented on #145
Would this be acceptable? The full pager plus a footer that shows your place in the universe of pages:

![image](https://user-images.githubusercontent.com/54671134/125854097-a26f749e-6fc7-45dc-be33-8c9adf9d83b1.png)

[2021-07-16 15:56] trreynolds commented on #145
Yes! This looks really good! We like that it says the total pages number on bottom too. Thanks.

[2021-07-16 17:54] barsenault-fsu commented on #146
From a usability point of view, I'm going to break this document into a landing page with links to individual pages for the content types.  It's too long to make it a single page.  Since the text in #147 links to this new document(s), it will necessarily take more time to complete the new button issue..

[2021-07-16 18:39] trreynolds commented on #150
The new text is perfect and now I'll just edit the text as we go if I need to (using the Edit button on the screen you provided - thanks!). I'll remove the "needs review" label from this but leave the github open while we figure out the first part.

[2021-07-16 19:04] trreynolds commented on #141
It looks great, @barsenault-fsu! Thanks!

[2021-07-16 19:33] trreynolds commented on #133
I tested this on test, and it looks good! It logged me out automatically.

[2021-07-16 20:46] barsenault-fsu commented on #109
Thanks, Mason.  I agree.  I've made some changes.  When they get pushed to Test and Production they will look like this

![image](https://user-images.githubusercontent.com/54671134/126006491-2c8961de-6e55-48ec-962d-4daaeef8d76a.png)

The idea being to move the "Remove Limiters" closer to the heading and left to appear "over" the bulleted list in the hierarchy.  The Show more link is in line with t

[2021-07-19 15:17] #109 closed, assigned to barsenault-fsu

[2021-07-19 17:15] rkmase opened #152 "Fix empty container elements"
`<ul class="project-tree-view project-tree-view-list"></ul>`

These are empty, 6 instances in the pages they affect

[2021-07-19 20:40] barsenault-fsu commented on #138
This is now on Production.  Closing

[2021-07-19 20:40] #138 closed, assigned to barsenault-fsu

[2021-07-19 20:54] barsenault-fsu commented on #147
The new button is on Test.  Ready for review

[2021-07-20 21:52] WilhelminavanDijk commented on #139
Perfect. Closing this issue

[2021-07-22 18:50] barsenault-fsu commented on #62
Changes requested in issue 109 are done and moved to production.  Closing issue.

[2021-07-22 18:50] #62 closed, assigned to nobody

[2021-07-22 18:51] barsenault-fsu commented on #128
Changes are on production.  Closing issue.

[2021-07-22 18:51] #128 closed, assigned to barsenault-fsu

[2021-07-22 18:53] barsenault-fsu commented on #133
Change has been moved to production.  Closing Issue

[2021-07-22 18:53] #133 closed, assigned to barsenault-fsu

[2021-07-22 18:56] barsenault-fsu commented on #136
This is on both Test and Production.  I removed some of the white space between the two lines so the row with the navigation wouldn't get too tall.  Even with that change I had to add some padding to the top of the main navigation menu to keep it centered in the row.

[2021-07-22 18:57] barsenault-fsu commented on #137
Now on production

[2021-07-22 18:57] #137 closed, assigned to Favenzio, barsenault-fsu

[2021-07-22 18:57] barsenault-fsu commented on #141
Moved to Production

[2021-07-22 18:57] #141 closed, assigned to barsenault-fsu

[2021-07-22 18:58] barsenault-fsu commented on #145
Changes moved to production.  If you find any pages that I missed, just let me know.

[2021-07-22 18:58] #145 closed, assigned to barsenault-fsu

[2021-07-22 18:59] barsenault-fsu commented on #146
Content is on Production.  Closing issue.

[2021-07-22 18:59] #146 closed, assigned to barsenault-fsu

[2021-07-22 19:00] barsenault-fsu commented on #147
New button is on production and linked to the provided page.  Closing.

[2021-07-22 19:00] #147 closed, assigned to barsenault-fsu

[2021-07-22 19:01] barsenault-fsu commented on #148
On Production.

[2021-07-22 19:01] #148 closed, assigned to nobody

[2021-07-22 19:04] barsenault-fsu commented on #150
I'm not sure why the views configuration for the data visualizations hadn't updated correctly that time. Production has been updated again and the configuration updated fine.  Closing this issue.

[2021-07-22 19:04] #150 closed, assigned to barsenault-fsu

[2021-07-22 19:04] barsenault-fsu commented on #152
Fix moved to production

[2021-07-22 19:04] #152 closed, assigned to nobody

[2021-07-22 19:16] barsenault-fsu commented on #149
This happened again when we updated production and we replaced it right away.  Still investigating.

[2021-07-22 20:41] barsenault-fsu commented on #149
I think the problem is the way Drupal stores information about custom blocks.  The content is stored in the database like other content, but the placement is stored as configuration which can be exported.  We can't create the custom block on Test, export it, and import it on Production, because the configuration would point to some wrong content id that doesn't exist on production and then throw a

[2021-07-30 15:45] trreynolds opened #153 "Create a link"
On this screen:  Create/Edit Dataset
Where it says this text: "If you wish to contribute your data to LDbase's Integrated Dataset, check this box and you will be contacted by an administrator on how to proceed."
Can you make these words:  "LDbase's Integrated Dataset"
link to the "LDbase Integrated Dataset" that is located at: https://ldbase.org/projects/09609d82-c45f-4442-8c0c-d136191bdc50

[2021-07-30 15:48] trreynolds opened #154 "Project Description paragraph - using "Enter" key"
When typing the text, if you press the "Enter" key, it displays it to you as going to the next line (good). But then the display text that other people can see when viewing your project, does NOT show the divisions of new lines where you have hit the enter key.
Please correct this here and anywhere else it would apply.

[2021-07-30 15:58] trreynolds opened #155 "'Project Organization' metadata is not accepting new entries"
Hi @barsenault-fsu , we talked about this on 7/23/2021 but people are still have this problem today. I'll include our discussion thread so you don't have to research again what was happening.

[23/07/2021 11:16 AM] Tara Reynolds: At the project level... people cannot add "Project Organization(s)"
[23/07/2021 11:48 AM] Brian Arsenault: ok checking
[23/07/2021 11:57 AM] Brian Arsenault: should be fi

[2021-07-30 16:20] barsenault-fsu commented on #155
I just tested this on production.  I masqueraded as treynolds@fcrr.org and added a test organization to one of the unpublished test projects there.  It saved and created the organization stub.

[2021-08-02 14:05] barsenault-fsu commented on #153
I added the link in the field description.

[2021-08-02 15:48] barsenault-fsu commented on #154
The paragraph breaks should appear now in the display.

[2021-08-02 15:52] barsenault-fsu commented on #149
I discussed this with Tara after the last meeting, and to prevent the block from always disappearing when we update the site I made the block part of the content module again, which means it can only be edited by a developer.  It doesn't seem like text that should change often, so that seemed safe.

We updated production, and the block did not disappear, so I'm closing this issue.

[2021-08-02 15:52] #149 closed, assigned to barsenault-fsu

[2021-08-25 17:59] barsenault-fsu opened #156 ""Newsfeed" on LDbase"
From Flock:
'Sara was thinking we might need a "Newsfeed" on LDbase. Above the footer on homepage. Maybe some kind of a splash bar thing. We can announce things like "Join us the last Friday of the month at noon where we can answer any questions you have about LDbase!" and host a live Q&A type tech help thing.'

[2021-08-26 16:57] trreynolds opened #157 "Sara's email about people claiming data"
This github is for the email Sara sent to Brian about the below (and maybe what happens when you click):

The user *Cynthia U. Norris* has indicated that they believe they were entered as a contributor on *Dataset: Project KIDS Total Scores Data*

 As an administrator for this project, you may approve and connect the user to the item or reject it and leave things as they are.

 Go View Existing Re

[2021-09-02 06:09] #136 closed, assigned to trreynolds

[2021-09-10 16:53] barsenault-fsu commented on #151
This is on Test now and is ready for review.

I added a contact link each on the Person page and the Project page.  You have to be logged in to get the links.

On the Person page, the link appears in the left column between the usage metrics and the social media icons.

![contact_user](https://user-images.githubusercontent.com/54671134/132889347-5d720930-36d5-4ad5-911d-667076cb90c4.png)

The link

[2021-09-10 16:56] barsenault-fsu commented on #153
This is on Production now, so I'm going to close the issue.

[2021-09-10 16:56] #153 closed, assigned to barsenault-fsu

[2021-09-10 17:12] barsenault-fsu commented on #157
I have made a change on Test to the message templates.  I had been putting in an HTML link which displays the title of the project and links to the URL, but the plain text email dismantles that and makes the URL look like a footnote.  Instead I changed the message templates so that the text includes the title and the URL as plain text.  So it will come though something like this:

![example-email]

[2021-09-14 18:43] trreynolds commented on #26
LDbase system admins need the ability to be able to send out a message to all registered LDbase users still. Our current situation is announcing workshops (LDbase Q&A sessions).

[2021-09-27 16:29] barsenault-fsu commented on #156
Now on Test.  There is a newsfeed carousel on the front page above the gray "About LDbase" footer.  Each article has a title, article body, and optional image and tags.  The front page displays the title, the beginning of the body text truncated to 300 characters, and the image.  It links to a full display of the article.

The meeting notes for 9/28/2021 have a user guide for adding articles.

[2021-09-27 16:34] barsenault-fsu commented on #105
These displays were not displaying items that were nested in the project hierarchy.  I changed them to list all of each type of item as a list sorted by last update and a truncated description.  Now they are correctly displaying all items an don't need a "show more" link.

[2021-09-27 16:36] barsenault-fsu commented on #26
Added a Mass Contact module for admins to send email to all LDbase users.  A user guide for the tool is attached to the 9/28/2020 meeting notes.

[2021-10-05 15:13] barsenault-fsu commented on #26
The Mass Contact module is now on Production.  Remember the user guide is attached to the 9/28 meeting notes.

I'm closing this issue.  If you encounter any issues, you can open another issue or let me know in Flock or Teams.

[2021-10-05 15:13] #26 closed, assigned to barsenault-fsu

[2021-10-05 15:16] barsenault-fsu commented on #105
This change is now on production.  There is no limit to the most recent item displays on the Project view

[2021-10-05 15:16] #105 closed, assigned to barsenault-fsu

[2021-10-05 15:19] barsenault-fsu commented on #151
These changes are on Production, including the opt-in checkboxes for getting emails and getting contacted by others.

I'll leave this open for now.  Let me know if you need any text changes on the forms.

[2021-10-05 15:20] barsenault-fsu commented on #154
This is fixed and on Production.

[2021-10-05 15:20] #154 closed, assigned to barsenault-fsu

[2021-10-05 15:22] barsenault-fsu commented on #156
This is now on Production.  The user guide for adding articles is linked from the 9/28 meeting notes.

I'll leave this open for now if you have any feedback.

[2021-10-05 15:24] barsenault-fsu commented on #157
These changes are now on Production.  URLs are now in plain text which gets changed to a link by the mail client.

[2021-10-05 15:24] #157 closed, assigned to barsenault-fsu

[2021-10-22 22:56] trreynolds commented on #156
1.) I added a news item, but the text is cut off (and it's not obvious that there is more text to see). Any ideas (like a grayed out "click for more details" or three dots or something)?
2.)  The "preview" button would not work when I was initially setting it up.
@barsenault-fsu

[2021-10-24 03:51] trreynolds commented on #151
![Screenshot (7)](https://user-images.githubusercontent.com/64669172/138579752-92cc595d-170d-45d6-a3c0-39780cd3f48f.png)
On the messages popup window, can you tell me how to change these words (or change them)? (This is when you're on your dashboard and you click on an unread message.)

Created on
10/22/2021 - 15:20
From User  <--  Can you change this to "From LDbase User"
treynolds@fcrr.org
**Mes

[2021-11-16 15:10] barsenault-fsu commented on #37
The images now get resized when they are uploaded to fit in a 200px by 200px square, maintaining their aspect ratio.  If the image you upload is rectangular, then the resized image will still be a rectangle whose longest sides are no more than 200 pixels long.

The resize happens when the image is uploaded so any big picture uploaded before this feature was implemented will still appear too big.

[2021-11-16 15:10] #37 closed, assigned to Favenzio

[2022-01-16 03:02] trreynolds opened #158 "My Messages"
Go to My Dashboard. My Messages section.
Should it be displaying archived messages there? I think it is.  (I think the whole point of you creating the archived messages thing is so that people don't see them on that screen?)

[2022-01-16 03:05] trreynolds opened #159 "Get Citation text"
When you click on the "Get Citations" button, the text is not displaying properly.
If you have questions about which citation and format to use, please contact Veronica.

[2022-05-10 13:49] barsenault-fsu commented on #159
[06/05/2022 2:41 PM] Veronica M. De La Cruz:
I looked at researcher names and APA citations.

Re user names:
It would be good to update cues when hovering over First name and Last name. So, after "Your name as you would like it displayed throughout the site."

First name ?= Enter your actual first name. Alternate: Enter your professional or legal first name.
Last name ?= Enter your actual last nam

[2022-05-12 22:14] barsenault-fsu commented on #159
I changed the help to read "Enter your professional or legal ____ name" where requested.

The authors can't easily be re-arrangeable so I added text that the investigators should be added in the order appropriate for citing this project.

I'm not sure what you mean by "Under publishing names."

I think the spacing is correct. now.  There was a problem for a while after we upgraded to Drupal 9 wher

[2022-05-13 22:49] trreynolds commented on #159
Note: Veronica will be taking over all of the Citation githubs questions and design, thanks!

[2022-05-20 20:08] veronica-aka-ronnie commented on #159
<img width="787" alt="publishing names" src="https://user-images.githubusercontent.com/105947480/169603061-57cb8ffc-da40-43c7-8889-afac39f5ad12.png">

When you look at a user/person, the Publishing Names begin with what is entered as an "Other Publishing Names". It would be good to have this start with the First and Last name information entered.

[2022-05-20 20:14] veronica-aka-ronnie commented on #159
Awesome. The only other thing to update is how it searches. If I try to find myself, for example, it doesn't find me by first or last name:
![image](https://user-images.githubusercontent.com/105947480/169603731-b09970d0-981c-47df-aa4d-0457f3fcccb1.png)

It will only find people if their user name is typed in. Can you make it find people if searched by either first, last, user, or "other publishing

[2022-05-27 16:58] veronica-aka-ronnie commented on #159
@barsenault-fsu I don't know if the process is to change the label from "needs review" to reviewed or some other type. But just to recap, of the things initially listed:

Done: Changed the help to read "Enter your professional or legal ____ name" where requested.

Done: Added text that the investigators should be added in the order appropriate for citing this project.

- [ ] LDbase only finds auth

[2022-06-03 15:49] barsenault-fsu commented on #159
@veronica-aka-ronnie RE this: " LDbase only finds authors, when creating a project, if their user name is typed in. Can you make it find people if searched by either first, last, user, or "other publishing" names? It currently searches by user name only"

I do not think this is possible.  That field is an autocomplete which gets Person nodes whose titles (in this case the Preferred Display Name) c

[2022-06-17 20:16] veronica-aka-ronnie commented on #159
OK, so the First and Last Name say to use the legal and professional name. I am going back in to the Display Name. The prompt is to "Please enter your name as you would like it to be displayed throughout the site." There is not a "?" there. If we update the prompt to something like "Enter your name as it is most likely to have been used in publications and other research related documents. This is

[2022-06-20 22:27] barsenault-fsu commented on #159
(This will be on Test on 6/21) @veronica-aka-ronnie actually the username and F/M/L names are used by LDbase to check if someone else might have entered that person by a different name on another piece of content.  If the system finds a possible match, it sends a message to the original person that there may be a match, so they can act upon it.

For example, I have an account in LDbase for "Brian

[2022-09-20 17:47] rkmase opened #160 "Advance search link doesn't work after initial advanced search"
Reproduction instructions:

1. Go to a search page (https://www.ldbase.org/search?search_api_fulltext=)
2. "Go to Advanced search"
3. All: "testing", exclude: "behavior", Search
4. Results show, click on "Go to Advanced Search", search does not drop down

[2022-09-20 17:52] rkmase opened #161 "Embargo banner sometimes displaying for search results"
Reproduce using private browser:
1. Home page, top box search "sara"
2. Results have embargo banner

![image](https://user-images.githubusercontent.com/67657370/191329124-906aafcd-6362-4a3e-a450-bec73d045b24.png)

[2022-09-23 15:59] barsenault-fsu commented on #160
There was an issue with the JavaScript in the theme.  Now on Test, if you try an Advanced Search, the results appear, the advanced search fields are visible, and the search terms are in the fields.

Once fixed, this raised an issue: if you were to click "Simple Search" after running an advanced search (sort of the opposite of the reported problem), the "advanced fields" still have values and get s

[2022-09-23 16:03] barsenault-fsu commented on #161
On Test, I set the embargoes module to not display the message on the search pages.

That's working correctly, I believe, but I just noticed the message can show up on other pages in certain cases.  I probably need to find a way **to** show it on the node page rather than **not** show it on search pages.  Still a WIP but the search pages should look right for testing.

[2022-09-27 19:36] barsenault-fsu commented on #161
Fixed this so the embargo notice will only appear on the node display.

[2022-09-27 19:36] #161 closed, assigned to barsenault-fsu

[2022-09-27 19:37] barsenault-fsu commented on #160
Link functions now.  After advanced search, link becomes "Start New Search"

[2022-09-27 19:37] #160 closed, assigned to barsenault-fsu

[2022-10-26 20:27] trreynolds opened #162 ""Preview" button not working"
on "Create Article" (aka, creating a posting for the homepage newsfeed banner).